<div class="panel panel-default panel-margin">    
	<div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-cubes text-primary"></i> {{ device.name }}</h3>
    </div>
    <div ng-hide="editMode">
        <div class="tab-content tab-padding">
            <div class="tab-margin">
                <div ng-if="device.name" class="row">
                    <span class="col-md-4 bold">Device Name: </span>
                    <span class="col-md-5"> {{device.name}}</span>
                </div>
                <div ng-if="device.description" class="row">
                    <span class="col-md-4 bold">Device Description: </span>
                    <span class="col-md-5"> {{ device.description }}</span>
                </div>
                <div ng-if="device.value" class="row">
                    <span class="col-md-4 bold">Device Value: </span>
                    <span class="col-md-5"> {{ device.value }}</span>
                </div>
                <div ng-if="device.device_group_name" class="row">
                    <span class="col-md-4 bold">Device Group: </span>
                    <span class="col-md-5"> {{ device.device_group_name }}</span>
                </div>
                <div ng-if="device.user_role_name" class="row">
                    <span class="col-md-4 bold">User Role: </span>
                    <span class="col-md-5"> {{ device.user_role_name }}</span>
                </div>
                <p ng-if="device.groupID" hidden>Device Group: {{ device.groupID }} </p>
                <p ng-if="device.roleID" hidden>Device Role: {{ device.roleID }} </p>
            </div>
        </div>
        <div class="panel-footer">
            <div class="clearfix">
                <div class="pull-right">
                    <a href="#/" class="btn btn-primary" ng-click="deleteDevice(device.id)">Delete Device</a>
                    <a class="btn btn-primary" ng-click="toggleEdit()">Edit Device</a>
                    <a class="btn btn-primary" href="#/deviceMan/">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Device form -->
<div ng-include="deviceFormUrl"></div>
