<div class="panel panel-default panel-margin">    
	<div class="panel-heading" ng-hide="deviceGroup.id">
        <h3 class="panel-title"><i class="fa fa-cubes text-primary"></i> Create a new device group</h3>
    </div>
    <div class="tab-content tab-padding">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon resize">Name</span>
                <input type="text" class="form-control input-box" placeholder="Device Group Name" ng-model="deviceGroup.name" name="deviceGroupName" required>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon resize">Description</span>
                <input type="text" class="form-control input-box" placeholder="Device Group Description" ng-model="deviceGroup.description" name="deviceGroupDescription">
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="clearfix">
            <div class="pull-right">
                <a class="btn btn-primary" ng-click="back()">Back</a>
                <a class="btn btn-primary" ng-click="saveDeviceGroup(deviceGroup)">Save</a>
            </div>
        </div>
    </div>
</div>