<div class="panel panel-default panel-margin">    
	<div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-cubes text-primary"></i> {{ deviceGroup.name }}</h3>
    </div>
    <div ng-hide="editMode">
        <div class="tab-content tab-padding">
            <div class="tab-margin">
                <div ng-if="deviceGroup.name" class="row">
                    <span class="col-md-4 bold">Device Group Name: </span>
                    <span class="col-md-5"> {{deviceGroup.name}}</span>
                </div>
                <div ng-if="deviceGroup.description" class="row">
                    <span class="col-md-4 bold">Device Group Description: </span>
                    <span class="col-md-5"> {{ deviceGroup.description }}</span>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="clearfix">
                <div class="pull-right">
                    <a class="btn btn-primary" ng-click="deleteDeviceGroup(deviceGroup)">Delete Device Group</a>
                    <a class="btn btn-primary" ng-click="toggleEdit()">Edit Device Group</a>
                    <a class="btn btn-primary" href="#/deviceManGroup">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Device group form -->
<div ng-include="deviceFormGroupUrl"></div>