<div class="panel panel-default panel-margin">    
	<div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-cubes text-primary"></i> Device Group Management</h3>
    </div>
    <div class="tab-content">
        <div grid-data grid-options="deviceGroups" grid-actions="gridActions">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th sortable="name" class="sortable col-md-3">
                            Name
                        </th>
                        <th sortable="description" class="sortable col-md-3">
                            Description
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr grid-item>
                        <td class="col-md-3 grid-padding">
                            <a ng-href="#/deviceGroup/{{item.id}}">
                                <span ng-bind="item.name"></span>
                            </a>
                        </td>
                        <td class="col-md-3 grid-padding">
                            <a ng-href="#/deviceGroup/{{item.id}}">
                                <span ng-bind="item.description"></span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <form class="form-inline margin-bottom-basic">
                <div class="form-group">
                    <grid-pagination max-size="5"
                                    boundary-links="true"
                                    class="pagination-sm"
                                    total-items="paginationOptions.totalItems"
                                    ng-model="paginationOptions.currentPage"
                                    ng-change="reloadGrid()"
                                    items-per-page="paginationOptions.itemsPerPage"></grid-pagination>
                </div>
                <div class="form-group items-per-page">
                    <label for="itemsOnPageSelect2">Items:</label>
                    <select id="itemsOnPageSelect2" class="form-control input-box input-sm" ng-init="paginationOptions.itemsPerPage = '10'"
                            ng-model="paginationOptions.itemsPerPage" ng-change="reloadGrid()">
                        <option>10</option>
                        <option>25</option>
                        <option>50</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
    <div class="panel-footer">
        <div class="clearfix">
            <div class="pull-right">
                <a class="btn btn-primary" href="#/deviceMan">Back</a>
                <a class="btn btn-primary" href="#/new/deviceGroup">New Device Group</a>
            </div>
        </div>
    </div>
</div>