<div class="panel panel-default panel-margin">    
	<div class="panel-heading" ng-hide="device.id">
        <h3 class="panel-title"><i class="fa fa-cubes text-primary"></i> Create a new device</h3>
    </div>
    <div class="tab-content tab-padding">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon resize">Device Name</span>
                <input type="text" class="form-control input-box" placeholder="Device Name" ng-model="device.name" name="deviceName" required>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon resize">Device Description</span>
                <input type="text" class="form-control input-box" placeholder="Device Description" ng-model="device.description" name="deviceDescription">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon resize">Group</span>
                <select name="deviceGroup" id="deviceGroup" class="selectpicker form-control" aria-describedby="group-type" 
                    ng-options="group.id as group.name for group in listOfDevices"
                    ng-model="device.device_group_name"
                    ng-change="selectedValueItemChanged(device.device_group_name)">
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon resize">Value</span>
                <input type="text" class="form-control input-box" placeholder="xxx.xxx.xxx.xxx" ng-model="device.value" name="deviceValue" ng-ip-address>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon resize">Role</span>
                <select name="deviceRole" id="deviceRole" class="selectpicker input-box form-control" aria-describedby="group-type" 
                    ng-options="role.id as role.name for role in listOfUserRoles" 
                    ng-model="device.user_role_name"
                    ng-change="selectedRoleValueItemChanged(device.user_role_name)">
                </select>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="clearfix">
            <div class="pull-right">
                <a class="btn btn-primary" ng-click="back()">Back</a>
                <a class="btn btn-primary" ng-click="saveDevice(device)">Save</a>
            </div>
        </div>
    </div>
</div>