<md-dialog aria-label="Mango (Fruit)" style="width:800px">
    <form name="useForm" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Edit Order Type: {{ ordertypeData.orderType }}</h2>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="md-block">
                    <label>Order Type</label>
                    <input type="text" name="txtOrderType" ng-model="ordertypeData.orderType" required="">
                    <div ng-messages="useForm.txtOrderType.$error" role="alert" multiple="">
                        <div ng-message="required" class="my-message">Please select the order type</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Maximum Orders per Tote</label>
                    <input type="number" name="txtMaxOrders" ng-model="ordertypeData.maxOrdersPerTote" required="" pattern="[0-9]*" min="1" max="9999">
                    <div ng-messages="useForm.txtMaxOrders.$error" role="alert" multiple="">
                        <div ng-message="required" class="my-message">Please enter a maximum number of orders per tote</div>
                    </div>
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="answer('Cancel')" class="md-raised md-primary">Cancel</md-button>
            <md-button ng-disabled="!useForm.$valid" ng-click="answer('editOrderType', ordertypeData)" class="md-raised md-primary">OK</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>