<html>
   <head>
	<script type="text/javascript">
	 function SetFocus(InputID)  {
	   document.getElementById(InputID).focus();
	 }

	 <%ShowAlert%>var wait=setTimeout("document.main.submit();",30000);
	</script>
   </head>
   <body onload="SetFocus('input')">
   <div style="width:200px">
      <h3 style="color: red">AUTOBAG STATION <%ScannedStnID%></h3>
      <form name="main" action="/<%endPoint%>" method="post" enctype="multipart/form-data">
         <fieldset>
            <%Logout%>
              <a style="float:right; color: blue;" onclick="document.getElementById('logoutForm').submit();"><u><i>logout</i></u></a><br />
            <%EndLogout%>
            <%ShowBBox%><fieldset><%EndShowBBox%>
            <%ScannedTransporter%>
            <%ScannedParcel%>
            <%ShowBBox%></fieldset><%EndShowBBox%>
            <%Instruction%>
            <%StnID%>
            <label>Username</label>
            <br />
            <input type="text" id="uid" name="uid" />
            <br />
            <label>Password</label>
            <input type="password" id="psw" name="psw" />
            <br />
            <label>Scan Station ID</label>
            <br />
            <input type="text" id="stnid" name="stnid" />
            <input type="submit" />
            <%EndStnID%>
            <%TransID%>
            <label>Scan Transporter</label>
            <br />
            <%EndTransID%>
            <%Parcel%>
            <label>Scan Parcel Barcode</label>
            <br />
            <%EndParcel%>
            <%Confirm%>
            <label>Confirm into transporter <%ConTR%></label>
            <br />
            <%EndConfirm%>
            <%Idle%>
			<br /><label style="color: blue;"><b><i>Waiting For Work...</i></b></label><br /><br/>
            <%EndIdle%>
            <%Input%>
             <input type="text" id="input" name="input" />
             <input type="submit" />
            <%EndInput%>
            <%RelBtn%>
            <br /><br /><button type="button" onclick="document.getElementById('releasetrForm').submit();">Release Transporter</button><br /><br />
            <%EndRelBtn%>
         </fieldset>
      </form>
	  <form id="logoutForm" method="post" action="/logout">
		<input type="hidden" name="lg" value="value" />
	  </form>
	  <form id="releasetrForm" method="post" action="/releasetr">
		<input type="hidden" name="tr" value="value" />
	  </form>
   </div>
   </body>
</html>
