<div class="wrapper" ng-show="NotAuth">
	<header class="header page-head">
		<span class="col-md-12 dash-font-main">{{header}}</span>
	</header>
    <div class="flex-container rej-container">
		<div class="flex-item center dash-item-border">
			<div class="rej-content">
				<div class="row row-spacing">
					<span class="rej-heading">USER NOT AUTHORISED</span>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="wrapper" ng-hide="NotAuth">
	<header class="header page-head">
		<span class="col-md-12 dash-font-main">{{header}}</span>
	</header>

	<div class="text-left" style="padding-left: 50px; padding-top: 20px;">
		<md-datepicker ng-model="myDate" md-placeholder="Select Date" md-open-on-focus></md-datepicker>&nbsp;&nbsp;
		<label> {{total}} </label>
	</div>

	<div class="row">
		<div class="col-sm-12" style="padding-top: 20px;">
			<div class="md-whiteframe-z1" layout="column"  style="padding-top: 30px; padding-left: 60px; padding-right: 30px; max-height: 700px; min-height: 700px; overflow: auto; overflow-x: scroll">
				<div class="row">
					<div class="pull-right" style="color:blue;">Filter: <input type="text" ng-model="searchBox"/></div>
				</div>
				<br />
				<table class="table table-hover">
					<thead>
					<tr>
						<th nowrap>{{tableHeader.Date}}</th>
						<th nowrap>{{tableHeader.User}}</th>
						<th nowrap>{{tableHeader.Station}}</th>
						<th nowrap>{{tableHeader.Supervisor}}</th>
						<th nowrap>{{tableHeader.Error}}</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="item in zoneParamDisplay | filter:searchBox:item.CartonID" ng-click="displayItems(item.TransporterID, item.CartonID)">
						<td class="text-left" nowrap>{{ item.Date }}</td>
						<td class="text-left" nowrap>{{ item.User }}</td>
						<td class="text-left" nowrap>{{ item.Station }}</td>
						<td class="text-left" nowrap>{{ item.Supervisor }}</td>
						<td class="text-left" nowrap>{{ item.Error }}</td>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>