<div class="wrapper">
        <header class="header page-head">
            <span class="col-md-12 dash-font-main">{{header}}</span>
        </header>
    
        <div class="row">
            <div class="col-md-11" style="padding-left: 150px; padding-top: 20px;">
                <div class="md-whiteframe-z1" layout="column"  style="padding-top: 30px; padding-left: 60px; padding-right: 30px; max-height: 700px; min-height: 700px; overflow: auto">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>{{tableHeader.Cartons}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in zoneParamDisplay" ng-click="displayItems(item.cartonID)">
                            <td class="text-left">{{ item.cartonID }}</td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>