<div class="wrapper">
        <header class="header page-head">
            <span class="col-md-12 dash-font-main">{{header}}</span>
        </header>

        <div class="text-left" style="padding-left: 50px; padding-top: 20px;">
            <md-datepicker ng-model="myDate" md-placeholder="Select Date" md-open-on-focus></md-datepicker>&nbsp;&nbsp;
            <label> {{total}} </label>
        </div>

        <div class="row">
            <div class="col-sm-12" style="padding-top: 20px;">
                <div class="md-whiteframe-z1" layout="column"  style="padding-top: 30px; padding-left: 60px; padding-right: 30px; max-height: 700px; min-height: 700px; overflow: auto; overflow-x: scroll">
					<div class="row">
						<div class="pull-right" style="color:blue;">Filter: <input type="text" ng-model="searchBox"/></div>
					</div>
					<br />
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th nowrap>{{tableHeader.CartonID}}</th>
                            <th nowrap>{{tableHeader.TransporterID}}</th>
                            <th nowrap>{{tableHeader.DateRejected}}</th>
                            <!--<th nowrap>{{tableHeader.CartonCalculatedWeight}}</th>-->
                            <th nowrap>{{tableHeader.ExpectedMinWeight}}</th>
                            <th nowrap>{{tableHeader.ActualScaleWeight}}</th>
                            <th nowrap>{{tableHeader.ExpectedMaxWeight}}</th>
                            <th nowrap>{{tableHeader.QcScaleUsed}}</th>
                            <th nowrap>{{tableHeader.RejectReason}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in zoneParamDisplay | filter:searchBox:item.CartonID" ng-click="displayItems(item.TransporterID, item.CartonID)">
                            <td class="text-left" nowrap>{{ item.CartonID }}</td>
                            <td class="text-left" nowrap>{{ item.TransporterID }}</td>
                            <td class="text-left" nowrap>{{ item.DateRejected }}</td>
                            <!--<td class="text-left" nowrap>{{ item.CartonCalculatedWeight }}</td>-->
                            <td class="text-left" nowrap>{{ item.ExpectedMinWeight }}</td>
                            <td class="text-left" nowrap>{{ item.ActualScaleWeight }}</td>
                            <td class="text-left" nowrap>{{ item.ExpectedMaxWeight }}</td>
                            <td class="text-left" nowrap>{{ item.QcScaleUsed }}</td>
                            <td class="text-left" nowrap>{{ item.RejectReason }}</td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>