<html>
    <header>
        <h2 style="color: red">VSU Picking</h2>
    </header>
    <body>
        <form action="/<%endPoint%>" method="POST">
            <label>Tote ID: <%toteID%></label><br><br>
                <%lblScanShelf%>
                <%locationID%>
                <%scanItem%>
                <%itemCode%>
                <%itemDesc%>
                <%pickQTY%>
                <%confirmQty%>
                <%btnDisplay%>
                <!--<input type="text" id="txtInput" name="txtInput" autofocus><br><br>-->
                <%errorMessage%>
                <%inputBox%>
        </form>
    </body>
</html>