<div class="wrapper" ng-show="ListView">
	<header class="header page-head">
		<span class="col-md-12 dash-font-main">{{header}}</span>
	</header>

	<div class="flex-container rej-container">
		<div class="flex-item center dash-item-border">
			<div class="rej-content" id="orderHeader">
				<form ng-submit="submit()">
					<div class="col-md-16">
						<div class="pull-right" style="color:blue;">Filter: <input type="text" ng-model="searchBox"/></div>
					</div>
					<br /><br />
					<div class="col-md-16 carton-details-tab" style="min-height: 145px;">
						<table class="table table-hover">
							<thead class="nav nav-tabs nav-main" style="border-top: 1px solid #ddd;" role="tablist">
								<td nowrap><span class="font-size: 5px;">OrderID</span></td>
								<td nowrap><span class="font-size: 5px;">Status</span></td>
								<td nowrap><span class="font-size: 5px;">UserId</span></td>
								<td nowrap><span class="font-size: 5px;">Date Created</span></td>
								<td nowrap><span class="font-size: 5px;">Manifest Required</span></td>
								<td nowrap><span class="font-size: 5px;">Manifest Printed</span></td>
							</thead>
							<tbody>
							<tr ng-repeat="item in ViewDisplay | filter:searchBox:item.OrderId | orderBy:'CreateDate'">
								<td style="padding: 0px 0px;" nowrap><a href ng-click="orderView(item.OrderId)" value="Submit">{{ item.OrderId }}</a></td>
								<td style="padding: 0px 0px;" nowrap>{{ item.Status }}</td>
								<td style="padding: 0px 0px;" nowrap>{{ item.UserID }}</td>
								<td style="padding: 0px 0px;" nowrap>{{ item.CreateDate }}</td>
								<td style="padding: 0px 0px;" nowrap>{{ item.ManifestRequired }}</td>
								<td style="padding: 0px 0px;" nowrap>{{ item.ManifestPrinted }}</td>
							</tr>
							</tbody>
						</table>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="wrapper" ng-show="OrderListView">
	<header class="header page-head">
		<span class="col-md-12 dash-font-main">{{header}}</span>
	</header>

	<div class="flex-container rej-container">
		<div class="flex-item center dash-item-border">
			<div class="rej-content" id="orderHeader">
				<form ng-submit="submit()">
					<div class="col-md-16">
						<div class="pull-right" style="color:blue;">Filter: <input type="text" ng-model="searchBox"/></div>
					</div>
					<br /><br />
					<div class="col-md-16 carton-details-tab" style="min-height: 145px;">
						<table class="table table-hover">
							<thead>
								<tr>
								<th nowrap>OrderID</th>
								<th nowrap>PicklistID</th>
								<th nowrap>Picklist Status</th>
								<th nowrap>Consolidated</th>
								<th nowrap>Container</th>
								<th nowrap>&nbsp;</th>
								<th nowrap>&nbsp;</th>
								</tr>
							</thead>
							<tbody>
							<tr ng-repeat="item in OrderViewDisplay | filter:searchBox:item.OrderId | orderBy:'PickListID'">
								<td class="text-left" nowrap>{{ item.OrderId }}</td>
								<td class="text-left" nowrap>{{ item.PickListID }}</td>
								<td class="text-left" nowrap>{{ item.Status }}</td>
								<td class="text-left" nowrap>{{ item.Consolidated }}</td>
								<td class="text-left" nowrap>{{ item.Container }}</td>
								<td class="text-left" nowrap>{{ item.Details }}</td>
								<td class="text-left" nowrap ng-show="item.ShowScanSerials">{{ item.ShowScanSerials }}</td>
								<td class="text-left" nowrap ng-hide="item.ShowScanSerials">&nbsp</td>
							</tr>
							</tbody>
						</table>
					</div>
					<br /><br />
					<div class="col-md-16">
						<button type="button" ng-click="closeDetailView()" class="btn btn-primary btn-xs">Back To Main</button>
						<button type="button" ng-click="PrintManifest()" ng-show="ReadyForManifest" class="btn btn-primary btn-xs">{{ ReadyForManifest }}</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="wrapper" ng-show="PrintView">
	<header class="header page-head">
		<span class="col-md-12 dash-font-main">{{header}}</span>
	</header>
	<div class="flex-container rej-container">
		<div class="flex-item center dash-item-border">
			<div class="rej-content">
				<form ng-submit="submit()">
					<div class="scannedSerialsModal">
						<div class="modal-dialog" style="width: 90%;">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" ng-click="ClosePrintManifest()" data-dismiss="modal" aria-hidden="true">&times;</button>
									<h4 class="modal-title">MANIFEST PRINTING</h4>
								</div>
								<div class="modal-body">
									<div class="form-group">
										<div class="input-group">
											<span class="input-group-addon resize">Select Printer</span>
											<select name="StnPrintQ" id="StnPrintQ" class="selectpicker input-box form-control" aria-describedby="group-type"
												ng-options="Queue.Station for Queue in PrintQs"
												ng-model="StnPrintQ"
												ng-change="selectedPrintQChanged(StnPrintQ)">
											</select>
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" ng-click="ClosePrintManifest()" class="btn btn-default" data-dismiss="modal">CANCEL</button>
									<button type="button" ng-click="ConfirmPrint()" class="btn btn-primary" data-dismiss="modal">PRINT</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>