<div ng-init = "Rfresh()">
<div ng-show="unconsolidateStart">
    <div class="row" align ="center">
      <div class="col-md-4"></div>
        
      <div class="col-md-4">
            <form name="form">
              <div class="panel panel-primary">
                  <div class="panel-heading">Unconsolidation of Order</div>
                        <div class="panel-body">
                                <h4>Scan Consolidated Tote ID</h4>
                                <input type="text"  ng-model="ToteID" required  id = "ToteID" required  ng-keyup="$event.keyCode == 13 ? ConsolidateValidate() : null" autofocus> <br> <br>
                              <div>
                                <!--<input type="button" ng-click = "getMyToteID()" value="    Ok    "> -->  
                                <input type="button" ng-click = "ConsolidateValidate()" value = "    Ok    ">
                                <input type="button" ng-click = "Back3()" value="Cancel">
                              </div>
                        </div>
                </div>
            </form>
          </div>
  
          <div class="col-md-4"></div>
      </div>
    </div> <!-- end of the first one -->
  
  <div ng-show="unconsolidateDisplay"> 
  <div class="row" align ="center">
    <div class="col-md-4"></div>
        <div class="col-md-4">
              <div class="panel panel-primary">
                  <div class="panel-heading">Unconsolidation of Order</div>
                  
                    <div class="panel-body">
                    <p> <strong> Enter Order to unconsolidate </strong> <input type = "text" max = "10" size = "9" id = "orderUN" ng-model="orderUN" required  ng-keyup="$event.keyCode == 13 ? ScanTote() : null" autofocus /> <b> {{OrderStatus}} </b> </p>
                        <table class="table" border="0">
                                <thead><td> <strong> {{pickListID}} </strong></td>
                                    <td> <strong>  {{OrderID}} </strong> </td>
                                    <td> <strong>  {{Status}} </strong></td>
                                    <td> <strong>  {{User}} </strong> </td> </thead>
                        <tbody>
                                  <tr ng-repeat="picklist in picklists">
                                    <td> {{picklist.pickListID}}</td>
                                    <td>{{picklist.orderID}} </td>
                                    <td> {{picklist.WmsOrderStatus}} </td>

                                  </tr>
                        </tbody>
                        </table> <br>
                    <div>
                    <input type="button" ng-click = "ScanTote()" value= "    Ok    ">
                    <input type="button" ng-click = "Back2()" value="  Cancel  ">
              </div>
        </div>
   </div>
   <div class="col-md-4"></div>
  </div></div>
      </div> <!-- end of the first one -->
  
  <div ng-show="un_NewTote">
    <div class="row" align ="center">
        <div class="col-md-4"></div>
          
        <div class="col-md-4">
              <form name="form">
                <div class="panel panel-primary">
                    <div class="panel-heading">Unconsolidation of Order</div>
                          <div class="panel-body">
                              <b> <p> Order :  {{OrderIDm}} &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp {{OrderStatus}} </p> </b>
                                  <h4>Scan New Tote ID</h4>
                                  <input type="text"  ng-model="New_ToteID" required  id = "New_ToteID" required  ng-keyup="$event.keyCode == 13 ? ToteNotEmpty() : null" autofocus > <br> <br>
                                <div>
                                  <!--<input type="button" ng-click = "getMyToteID()" value="    Ok    "> -->  
                                  <input type="button" ng-click = "ToteNotEmpty()" value = "    Ok    ">
                                  <input type="button" ng-click = "Rfresh()" value="Cancel">
                                </div>
                          </div>
                  </div>
              </form>
            </div>
    
            <div class="col-md-4"></div>
        </div>
  </div>
  
  <div ng-show="un_scanOrder">
      <div class="row" align ="center">
        <div class="col-md-4"></div>
          
        <div class="col-md-4">
              <form name="form">
                <div class="panel panel-primary">
                    <div class="panel-heading">Unconsolidation of Order</div>
                          <div class="panel-body">
                                  <h4>Are you sure you want to unconsolidate Order <b> {{confOrder}} </b> ?</h4><br><br>
                                <div>
                                  <!--<input type="button" ng-click = "getMyToteID()" value="    Ok    "> -->  
                                  <input type="button" ng-click = "ScanToUnconsolidate()" value = "    Yes    ">
                                  <input type="button" ng-click = "Rfresh()" value="     No     ">
                                </div>
                          </div>
                  </div>
              </form>
            </div>
    
            <div class="col-md-4"></div>
        </div>
    </div>
</div>
