<div class="panel panel-default panel-margin">    
	<div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-cubes text-primary"></i> {{ userRole.name }}</h3>
    </div>
    <div ng-hide="editMode">
        <div class="tab-content tab-padding">
            <div class="tab-margin">
                <div ng-if="userRole.name" class="row">
                    <span class="col-md-4 bold">Role Name: </span>
                    <span class="col-md-5"> {{userRole.name}}</span>
                </div>
                <div ng-if="userRole.description" class="row">
                    <span class="col-md-4 bold">Role Description: </span>
                    <span class="col-md-5"> {{ userRole.description }}</span>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="clearfix">
                <div class="pull-right">
                    <a class="btn btn-primary" ng-click="deleteUserRole(userRole.id)">Delete Role</a>
                    <a class="btn btn-primary" ng-click="toggleEdit()">Edit Role</a>
                    <a class="btn btn-primary" href="#/roleMan/">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- User Role form -->
<div ng-include="userRoleFormUrl"></div>