<div class="panel panel-default panel-margin">    
	<div class="panel-heading" ng-hide="userRole.id">
        <h3 class="panel-title"><i class="fa fa-gear text-primary"></i> Create new role</h3>
    </div>
    <div class="tab-content tab-padding">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon resize">Name</span>
                <input type="text" class="form-control input-box" placeholder="Role Name" ng-model="userRole.name" name="roleName" required>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon resize">Description</span>
                <input type="text" class="form-control input-box" placeholder="Role Description" ng-model="userRole.description" name="roleDescription" required>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="clearfix">
            <div class="pull-right">
                <a class="btn btn-primary" ng-click="back()">Back</a>
                <a class="btn btn-primary" ng-click="saveUserRole(userRole)">Save</a>
            </div>
        </div>
    </div>
</div>