<div class="panel panel-default panel-margin">    
	<div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-gear text-primary"></i> Role Management</h3>
    </div>
    <ul class="nav nav-tabs nav-main" role="tablist">
        <span class="col-md-3">Name</span>
        <span class="col-md-5">Description</span>
    </ul>
    <div class="tab-content">
        <table class="table table-hover">
            <tbody>
                <tr ng-repeat="role in userRoles">
                    <td class="table-list-padding">
                        <a ng-href="#/role/{{role.id}}">
                            <span class="col-md-3">{{ role.name }}</span>
                            <span class="col-md-5">{{ role.description }}</span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        <div class="clearfix">
            <div class="pull-right">
                <a class="btn btn-primary" href="#/new/role">New Role</a>
            </div>
        </div>
    </div>
</div>