<div class="container">
    <div class="page-header">
        <h2>{{printHeader}}</>
    </div>
</div>
<div class="container" style="padding-bottom: 40px">
    <md-input-container style="width:250px">
        <label>Print Documents By</label>
        <md-select name="type" ng-model="printBy" required>
          <md-option value="CartonID" ng-click="show('CartonID')" ng-model="CartonID">CartonID</md-option>
          <md-option value="OrderID" ng-click="show('OrderID')" ng-model="OrderID">OrderID</md-option>
        </md-select>
      </md-input-container>
</div>
<div class="container" style="padding-left: 330px">
    <div class="md-whiteframe-z5" layout="column"  style="width: 550px; height: 500; padding-top: 30px; padding-left: 30px; padding-right: 30px; padding-bottom: 60px;">
        <!--<md-content>
            <md-divider></md-divider>
        </md-content>-->

        <form ng-submit="submit()" style="padding-top: 30px;">
            <md-input-container class="md-block" ng-if="displayCartonID">
                <label>Carton ID</label>
                <input type="text" name="txtUser" ng-keyup="$event.keyCode == 13 ? getCartonID(CartonID) : null" ng-model="CartonID">
            </md-input-container>
            <md-input-container class="md-block" ng-if='displayOrderID'>
                <label>Order ID</label>
                <input type="text" name="txtPass" ng-keyup="$event.keyCode == 13 ? getOrderID(OrderID) : null"ng-model="OrderID">
            </md-input-container>
        </form>
    </div>
</div>

<div class="container" style="padding-top:300px">
    <md-content>
        <md-divider></md-divider>
    </md-content>
</div>