<div class="panel panel-default panel-margin">    
	<div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list text-primary"></i> {{ systemParam.name }}</h3>
    </div>
    <div ng-hide="editMode">
        <div class="tab-content tab-padding">
            <div class="tab-margin">
                <div ng-if="systemParam.name" class="row">
                    <span class="col-md-4 bold">System Parameter Name: </span>
                    <span class="col-md-5"> {{systemParam.name}}</span>
                </div>
                <div ng-if="systemParam.groupName" class="row">
                    <span class="col-md-4 bold">System Parameter Group: </span>
                    <span class="col-md-5"> {{systemParam.groupName}}</span>
                </div>
                <div ng-if="systemParam.value" class="row">
                    <span class="col-md-4 bold">System Parameter Value: </span>
                    <span class="col-md-5"> {{systemParam.value}}</span>
                </div>
                <div ng-if="systemParam.data_type" class="row">
                    <span class="col-md-4 bold">System Parameter Type: </span>
                    <span class="col-md-5"> {{systemParam.data_type}}</span>
                </div>
                <div ng-if="systemParam.roleName" class="row">
                    <span class="col-md-4 bold">System Parameter Role: </span>
                    <span class="col-md-5"> {{systemParam.roleName}}</span>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="clearfix">
                <div class="pull-right">
                    <a class="btn btn-primary" ng-click="deleteSystemParam(systemParam)">Delete System Parameter</a>
                    <a class="btn btn-primary" ng-click="toggleEdit()">Edit Parameter</a>
                    <a class="btn btn-primary" href="#/systemParameter">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- System Parameter form -->
<div ng-include="systemParamFormUrl"></div>
