<div class="panel panel-default panel-margin">    
	<div class="panel-heading" ng-hide="systemParamGroup.id">
        <h3 class="panel-title"><i class="fa fa-list text-primary"></i> Create new group</h3>
    </div>
    <div class="tab-content tab-padding">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon resize">Name</span>
                <input type="text" class="form-control input-box" placeholder="Group Name" ng-model="systemParamGroup.name" name="groupName" required>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon resize">Description</span>
                <input type="text" class="form-control input-box" placeholder="Group Description" ng-model="systemParamGroup.description" name="groupDescription">
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="clearfix">
            <div class="pull-right">
                <a class="btn btn-primary" ng-click="back()">Back</a>
                <a class="btn btn-primary" ng-click="saveSystemParamGroup(systemParamGroup)">Save</a>
            </div>
        </div>
    </div>
</div>