<div class="panel panel-default panel-margin">    
	<div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list text-primary"></i> {{ systemParamGroup.name }}</h3>
    </div>
    <div ng-hide="editMode">
        <div class="tab-content tab-padding">
            <div class="tab-margin">
                <div ng-if="systemParamGroup.name" class="row">
                    <span class="col-md-4 bold">System Parameter Group Name: </span>
                    <span class="col-md-5"> {{systemParamGroup.name}}</span>
                </div>
                <div ng-if="systemParamGroup.description" class="row">
                    <span class="col-md-4 bold">System Parameter Group Description: </span>
                    <span class="col-md-5"> {{systemParamGroup.description}}</span>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="clearfix">
                <div class="pull-right">
                    <a class="btn btn-primary" ng-click="deleteSystemParamGroup(systemParamGroup.id)">Delete Group</a>
                    <a class="btn btn-primary" ng-click="toggleEdit()">Edit Group</a>
                    <a class="btn btn-primary" href="#/systemParameterGroup">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- System parameter group form -->
<div ng-include="systemParamGroupFormUrl"></div>