<div class="container">
    <div class="page-header">
        <h2>{{header}}</h2>
    </div>
</div>

<!-- ===========================================================COURIER ROUTES=========================================================== -->
<div class="container">
    <md-button ng-click="showCourier()"><span class="glyphicon glyphicon-th-list"></span> &nbsp; Courier Routes</md-button>
    <div class="container" style="padding-left:20px; padding-top:20px; padding-bottom:20px;">	
    <div class="md-whiteframe-z5" layout="column" ng-hide="hideCourierRoute"  style="padding-top: 30px; padding-left: 30px; padding-right: 30px">
        <table class="table table-hover">
            <thead>
                <tr>
		    <th>{{tableCourierRoutes.courierName}} &nbsp; <span ng-click="addCourier($event)" class="glyphicon glyphicon-plus"></span></th>
                    <th>{{tableCourierRoutes.routeNumber}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="items in courierRoutes">
                    <td> 
		        <span ng-click="removeCourier(items.courierName)" class="glyphicon glyphicon-trash"></span> &nbsp; 
			<span ng-click="editCourier(items.courierName, items.routeNumber)" class="glyphicon glyphicon-cog"></span> &nbsp; &nbsp;
			{{ items.courierName }} 
		    </td>
                    <td>{{ items.routeNumber }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>

<!-- ===========================================================TOTE CONSOLIDATION=========================================================== -->
<div class="container">
    <md-button ng-click="showConsole()"><span class="glyphicon glyphicon-th-list"></span> &nbsp; Tote Consolidation</md-button>
    <div class="container" style="padding-left:20px; padding-top:20px; padding-bottom:20px;">
    <div class="md-whiteframe-z5" layout="column" ng-hide="toteConsolidation"  style="padding-top: 30px; padding-left: 30px; padding-right: 30px">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>{{tableConsoleHeader.active}}</th>
                    <th>{{tableConsoleHeader.maxOrder}}</th>
                    <th>{{tableConsoleHeader.toteMaxVol}}</th>
                    <th>{{tableConsoleHeader.toteMaxWeight}}</th>
                    <th>{{tableConsoleHeader.consolidationInProgress}}</th>
                    <th>{{tableConsoleHeader.consolSeqNum}}</th>
                    <th>{{tableConsoleHeader.minProdMatches}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in toteConsole">
                    <td>{{ item.active }}</td>
                    <td>{{ item.maxOrdersToConsolidate }}</td>
                    <td>{{ item.toteMaxVolume }}</td>
                    <td>{{ item.toteMaxWeight }}</td>
                    <td>{{ item.consolidationInProgress }}</td>
                    <td>{{ item.consolSeqNum }}</td>
                    <td>{{ item.minProdMatches }}</td>
                </tr>
            </tbody>
        </table>
    </div>
   </div>
</div>

<!-- ===========================================================WEIGHT ROUTES=========================================================== -->
<div class="container">
    <md-button ng-click="showWeightSet()"><span class="glyphicon glyphicon-th-list"></span> &nbsp; Weight Settings</md-button>
    <div class="container" style="padding-left:20px; padding-top:20px; padding-bottom:20px;">
    <div class="md-whiteframe-z5" layout="column" ng-hide="weightSettingDiv"  style="padding-top: 30px; padding-left: 30px; padding-right: 30px">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        <span ng-click="addWeight()" class="glyphicon glyphicon-plus">
                        </span> &nbsp; &nbsp; 
                       {{tableWeightSettingsHeader.stockSize}}
                    </th>
                    <th>{{tableWeightSettingsHeader.upperTolerance}}</th>
                    <th>{{tableWeightSettingsHeader.lowerTolerance}}</th>
                    <th>{{tableWeightSettingsHeader.weight}}</th>
                    <th>{{tableWeightSettingsHeader.useTransporter}}</th>
                    <th>{{tableWeightSettingsHeader.width}}</th>
                    <th>{{tableWeightSettingsHeader.height}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="weights in weightSettings">
                    <td>
			<span ng-click="editWeight(weights.StockSize, 
                            weights.UpperTolerance, weights.LowerTolerance, weights.weight, 
                            weights.useTransporter, weights.width, weights.height)" class="glyphicon glyphicon-cog">
			</span> &nbsp; &nbsp; 
			{{ weights.StockSize }}
		    </td>
                    <td>{{ weights.UpperTolerance }}</td>
                    <td>{{ weights.LowerTolerance }}</td>
                    <td>{{ weights.weight }}</td>
                    <td>{{ weights.useTransporter }}</td>
                    <td>{{ weights.width }}</td>
                    <td>{{ weights.height }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>
<!-- ===========================================================TROLLEY SETTINGS=========================================================== -->
<div class="container">
    <md-button ng-click="showTrolleySetting()"><span class="glyphicon glyphicon-th-list"></span> &nbsp; Trolley Settings</md-button>
    <div class="container" ng-hide="trolleySet" style="padding-left:20px; padding-top:20px; padding-bottom:20px;">
	<div class="content" style="padding-left: 15px; padding-top: 15px; padding-bottom: 15px;">
            <label>{{tableTrolleyHeader.maxTotesPerTrolley}} {{ maxTrolleyTotes }}</label></br>
            <label>{{tableTrolleyHeader.trolleyZone}} {{ trolleyZone }}</label>
        </div>
        <div class="md-whiteframe-z5" layout="column" style="padding-top: 30px; padding-left: 30px; padding-right: 30px">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>{{tableTrolleyHeader.name}}</th>
                        <th>{{tableTrolleyHeader.isDefaultMode}}</th>
                        <th>{{tableTrolleyHeader.isActive}}</th>
                        <th>{{tableTrolleyHeader.instructionMsgFinal}}</th>
                        <th>{{tableTrolleyHeader.toteIDLeadDigit}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="trolleys in trolleySettings">
                        <td>{{ trolleys.name }}</td>
                        <td>{{ trolleys.isDefaultMode }}</td>
                        <td>{{ trolleys.isActive }}</td>
                        <td>{{ trolleys.instructionMsgFinal }}</td>
                        <td>{{ trolleys.toteIDLeadDigit }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
