<div class="panel panel-default panel-margin">    
	<div class="panel-heading" ng-hide="systemParameter.id">
        <h3 class="panel-title"><i class="fa fa-list text-primary"></i> New system parameter</h3>
    </div>
    <div class="tab-content tab-padding">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon resize">Name</span>
                <input type="text" class="form-control input-box" placeholder="Parameter Name" ng-model="systemParameter.name" name="sysParamName" required>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon resize">Group</span>
                <select name="systemParameterGroup" id="systemParameterGroup" class="selectpicker form-control" aria-describedby="group-type" 
                    ng-options="option.name for option in listOfSystemParameterGroups" 
                    ng-model="systemParameter.systemParameter_group"
                    ng-change="selectedGroupItemChanged(systemParameter.systemParameter_group)">
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon resize">Value</span>
                <input ng-if="default" type="text" class="form-control input-box" placeholder="Select type" ng-model="systemParameter.value" name="sysParamDefaultValue" disabled>                
                <input ng-if="intSelected" type="number" class="form-control input-box" placeholder="Int Value" ng-model="systemParameter.value" name="sysParamValue">
                <select ng-if="boolSelected" name="sysParamValue" id="sysParamValue" class="selectpicker form-control" aria-describedby="group-type" 
                    ng-options="option for option in listOfBoolValues" 
                    ng-model="systemParameter.value"
                    ng-change="selectedBoolItemChanged(systemParameter.value)">
                </select>
                <input ng-if="ipSelected" type="text" class="form-control input-box" placeholder="xxx.xxx.xxx.xxx" ng-model="systemParameter.value" name="sysParamIPValue" ng-ip-address>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon resize">Type</span>
                <select name="paramType" id="paramType" class="selectpicker form-control input-box" aria-describedby="group-type" 
                    ng-options="option for option in listOfSystemParameters" 
                    ng-model="selectedValueItem"
                    ng-change="selectedValueItemChanged()">
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon resize">Role</span>
                <select name="systemParameterRole" id="systemParameterRole" class="selectpicker form-control input-box" aria-describedby="group-type" 
                    ng-options="option.name for option in listOfUserRoles" 
                    ng-model="systemParameter.systemParameter_role_name"
                    ng-change="selectedRoleValueItemChanged(systemParameter.systemParameter_role_name)">
                </select>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="clearfix">
            <div class="pull-right">
                <a class="btn btn-primary" ng-click="back()">Back</a>
                <a class="btn btn-primary" ng-click="saveSystemParam(systemParameter)">Save</a>
                <a class="btn btn-primary" href="#/new/systemParameterGroup">Add Group</a>
            </div>
        </div>
    </div>
</div>