<div class="wrapper" id="ToteProcess" style="display: none">
    <header class="header page-head">
        <span class="col-md-12 dash-font-main">PUT WALL MANIFESTING</span>
    </header>
    <div class="flex-container rej-container">
        <div class="flex-item center dash-item-border" id="Station" style="display: none">
            <div class="rej-content">
                <div class="row row-spacing">
                    <span class="rej-heading">PACKING STATION {{signedInStation}}</span>
                </div>
                <div class="row row-spacing">
                    <span class="rej-text">SCAN TOTE</span>
                </div>
                <div class="row row-spacing">
                    <input type="text" class="input-box" id="scannedTote" ng-keyup="$event.keyCode == 13 ? getToteId(toteId) : null" ng-model="toteId" autofocus />
                </div>
            </div>
        </div>
        <div class="flex-item center dash-item-border" id="NoStation" style="display: none">
            <div class="rej-content">
                <div class="row row-spacing">
                    <span class="rej-heading">MACHINE NOT CONFIGURED FOR PACKING</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrapper" id="PackProcess" style="display: none">
    <header class="header page-head">
        <span class="col-md-12 dash-font-main">PACKING STATION {{signedInStation}}</span>
    </header>
    <div class="flex-container rej-container" id="orderScanContent" style="display: none" >
        <div class="flex-item center dash-item-border">
                <div class="rej-content" style="min-height: 145px; display: none;" id="scanBarcode" >
                    <div>
                        <span style="font-size: 20px; color: green">Scan Serial/Barcode</span>
                        <br/>
                        <input type="text" class="input-box" style="width: 150px;" id="barcodeScan" ng-keyup="$event.keyCode == 13 ? getScannedBarcode(scannedCodeId) : null" ng-model="scannedCodeId" autofocus />
                    </div>
                 <br/>
               <div class="clearfix">
                        <button class="btn btn-primary" style="display: none;" id="btnReset" ng-click="resetCarton()">RESET</button>
                </div>

                </div>
               <div class="rej-content" style="min-height: 145px; display: none;" id="instruction" >
                    <div>
                        <span style="font-size: 20px;">{{instruction}}</span>
                    </div>
                </div>
                <div class="rej-content" style="min-height: 145px; display: none;" id="scanDocument" >
                    <div>
                        <span style="font-size: 20px;  color: Red">Scan Document Barcode</span>
                        <br/>
                        <input type="text" class="input-box" style="width: 150px;" id="documentScan" ng-keyup="$event.keyCode == 13 ? getScannedDocument(scannedDocument) : null" ng-model="scannedDocument" autofocus />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
