<div class="wrapper" ng-hide="scanningMode">
    <header class="header page-head">
        <span class="col-md-12 dash-font-main">MANIFESTING</span>
    </header>
    <div class="flex-container rej-container">
        <div class="flex-item center dash-item-border" ng-hide="noStation">
            <div class="rej-content">
                <div class="row row-spacing">
                    <span class="rej-heading">PACKING STATION {{signedInStation}}</span>
                </div>
                <div class="row row-spacing">
                    <span class="rej-text">SCAN TOTE</span>
                </div>
                <div class="row row-spacing">
                    <input type="text" class="input-box" id="scannedTote" ng-keyup="$event.keyCode == 13 ? getToteId(toteId) : null" ng-model="toteId" focus-me="!scanningMode" />
                </div>
            </div>
        </div>
        <div class="flex-item center dash-item-border" ng-show="noStation">
            <div class="rej-content">
                <div class="row row-spacing">
                    <span class="rej-heading">MACHINE NOT CONFIGURED FOR PACKING</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrapper" ng-hide="!scanningMode">
    <header class="header page-head">
        <span class="col-md-12 dash-font-main">PACKING STATION {{signedInStation}}</span>
    </header>
    <div class="flex-container rej-container" id="orderScanContent" style="display: ''" ng-hide="hideScanView" >
        <div class="flex-item center dash-item-border">
            <div class="rej-content">
                <div class="row row-spacing">
                    <span class="col-md-8 rej-text" style="display: ''" id="toteDetailHeading" ng-hide="cartonScanned">{{toteTypeDetailName}} - {{scannedTote}}</span>
                    <span class="col-md-4 rej-text" style="display: ''" id="cartonToUseHeading" ng-hide="cartonScanned">USE CARTON SIZE - {{useCartonSize}}</span>
                    <span class="col-md-8 rej-text" style="display: ''" id="scannedCatonIdHeading" ng-show="cartonScanned">CARTON - {{scannedCartonIdDisplay}}</span>
                    <span class="col-md-4 rej-text" style="display: ''" id="cartonSizeHeading" ng-show="cartonScanned">CARTON SIZE - {{cartonSizeUsed}}</span>
                </div>
                <div class="row row-spacing" style="display: ''" id="oderDetailHeading">
                    <span class="col-md-8 rej-text">ORDER - {{currentOrderId}}</span>
                    <span class="col-md-4 rej-text">ORDER {{currentOrderInToteProcess}} OF {{totalOrdersInToteToProcess}}</span>
                </div>
                <div class="col-md-8 carton-details-tab" style="min-height: 145px;">
                    <span style="font-size: 20px;">Picked Details</span>
                    <ul class="nav nav-tabs nav-main" style="border-top: 1px solid #ddd;" role="tablist">
                        <span class="col-md-3 font-size: 16px;">Item</span>
                        <span class="col-md-5 font-size: 16px;">Description</span>
                        <span class="col-md-2 font-size: 16px;">Qty</span>
                        <span class="col-md-2 font-size: 16px;">Packed</span>
                    </ul>
                    <table class="table table-hover">
                        <tbody>
                            <tr ng-repeat="item in itemsToDisplay">
                                <td style="padding: 5px 0px;">
                                    <span class="col-md-3">{{ item.itemCode }}</span>
                                    <span class="col-md-5">{{ item.itemDescription }}</span>
                                    <span class="col-md-2">{{ item.pickQty }}</span>
                                    <span class="col-md-2">{{ item.qtyPacked }}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3 carton-details-tab" style="min-height: 145px; display: '';" id="scanBarcode" ng-show="showscanBarcode">
                    <div>
                        <span style="font-size: 20px;">Scan Serial/Barcode</span>
                        <br/>
                        <input type="text" class="input-box" style="width: 150px;" id="barcodeScan" ng-keyup="$event.keyCode == 13 ? getScannedBarcode(scannedCodeId) : null" ng-model="scannedCodeId" focus-me="showscanBarcode" />
                    </div>
                </div>
                <div class="col-md-3 carton-details-tab" style="min-height: 145px; display: '';" id="scanCarton" ng-show="showscanCarton">
                    <div>
                        <span style="font-size: 20px;">Scan Carton ID</span>
                        <br/>
                        <input type="text" class="input-box" style="width: 150px;" id="cartonScan" ng-keyup="$event.keyCode == 13 ? getScannedCarton(scannedCartonId) : null" ng-model="scannedCartonId" focus-me="showscanCarton" />
                    </div>
                </div>
                <div class="col-md-3 carton-details-tab" style="min-height: 145px; display: '';" id="scanDocument" ng-show="showscanDocument">
                    <div>
                        <span style="font-size: 20px;">Scan Document Barcode</span>
                        <br/>
                        <input type="text" class="input-box" style="width: 150px;" id="documentScan" ng-keyup="$event.keyCode == 13 ? getScannedDocument(scannedDocument) : null" ng-model="scannedDocument" focus-me="showscanDocument" />
                    </div>
                </div>
                <div class="col-md-3 carton-details-tab" style="min-height: 145px; display: '';" id="scanTransporter" ng-show="showscanTransporter">
                    <div>
                        <span style="font-size: 20px;">Scan Transporter</span>
                        <br/>
                        <input type="text" class="input-box" style="width: 150px;" id="transporterScan" ng-keyup="$event.keyCode == 13 ? getScannedTransporter(scannedTransporterId) : null" ng-model="scannedTransporterId" focus-me="showscanTransporter" />
                    </div>
                </div>
                <div class="col-md-3 carton-details-tab" style="min-height: 145px; display: '';" id="reScanTote" ng-show="showreScanTote">
                    <div>
                        <span style="font-size: 20px;">Rescan Tote</span>
                        <br/>
                        <input type="text" class="input-box" style="width: 150px;" id="toteRescan" ng-keyup="$event.keyCode == 13 ? getReScannedTote(reScannedToteId) : null" ng-model="reScannedToteId" focus-me="showreScanTote" />
                    </div>
                </div>
                <div class="clearfix">
                    <div class="pull-left">
                        <button ng-show="showReset" class="btn btn-primary" style="display: '';" id="btnReset" ng-click="resetCarton()">RESET</button>
                        <button ng-hide="showReset" class="btn btn-primary" style="display: '';" id="btnRePrint" ng-click="reprintCarton()">RE-PRINT LABELS</button>
                        <button ng-show="showReset" class="btn btn-primary" style="display: '';" id="btnCartonSize" ng-click="showChangeCarton()">CHANGE CARTON SIZE</button>
                        <button class="btn btn-primary" style="display: '';" id="btnScannedSerials" ng-click="showScannedSerials()">VIEW SCANNED SERIALS</button>
                        <button class="btn btn-primary" style="display: none;" id="btnBypassTransporter" ng-click="bypassTranporter()">BYPASS TRANSPORTER</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Change carton size modal -->
    <div class="flex-container rej-container" id="changeCartonSizeScreen" style="display: ''" ng-show="showCartonSizeScreen">
        <div class="flex-item center dash-item-border">
            <div class="rej-content">
                <div class="cartonSizeModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" ng-click="closeChangeCartonModal()" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">CHANGE CARTON SIZE</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon resize">Select new carton size</span>
                                        <select name="cartonSize" id="cartonSize" class="selectpicker input-box form-control" aria-describedby="group-type"
                                            ng-options="size.id as size.value for size in listOfCartonSizes"
                                            ng-model="cartonSize"
                                            ng-change="selectedCartonSizeChanged(cartonSize)">
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" ng-click="closeChangeCartonModal()" class="btn btn-default" data-dismiss="modal">CANCEL</button>
                                <button type="button" ng-click="confirmCartonSize()" class="btn btn-primary" data-dismiss="modal">CONFIRM</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- View scanned serial items -->
    <div class="flex-container rej-container" id="viewScannedSerialsModal" style="display: ''" ng-show="showScannedSerialsModal">
        <div class="flex-item center dash-item-border">
            <div class="rej-content">
                <div class="scannedSerialsModal">
                    <div class="modal-dialog" style="width: 90%;">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" ng-click="closeViewSerialsModal()" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">SCANNED SERIALS</h4>
                            </div>
                            <div class="modal-body" style="padding: 0px;">
                                <ul class="nav nav-tabs nav-main" style="padding: 0px; border: none; margin: 5px !important;" role="tablist">
                                    <span class="col-md-8">Product Code</span>
                                    <span class="col-md-3">Serial</span>
                                </ul>
                                <div data-ng-repeat="item in scannedSerialItems">
                                    <span class="col-md-8" style="float: left;">{{item.prodCode}}</span>
                                    <span class="col-md-3">{{item.serial}}</span>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" ng-click="closeViewSerialsModal()" class="btn btn-default" data-dismiss="modal">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>