<style>
.columns {
  columns: 4;
}
</style>
<div class="wrapper" ng-hide="scanningMode">
        <header class="header page-head">
            <span class="col-md-12 dash-font-main">ORDER INFORMATION</span>
        </header>
        <div class="flex-container rej-container">
            <div class="flex-item center dash-item-border">
                <div class="rej-content" id="orderHeader">
                    <form ng-submit="submit()">
                        <label style="color:red; font-size: 20px;">ORDER NUMBER</label><br>
                        <input type="text" class="input-box" id="scannedTote" ng-keyup="$event.keyCode == 13 ? getToteId(orderID) : null" ng-model="orderID" autofocus /><br>
                        <p style="color:red;">{{errorDisplay}}</p>
                        <div class="col-md-1"></div>

                        <div class="col-md-16 carton-details-tab" style="min-height: 145px;">
                        	<div align="center">
                        		<br />
                            	<label ng-hide="MyOrder == null" style="font-size: 16px;">Order: <b style="color:blue;">{{MyOrder}}</b> &nbsp|&nbsp Order Type: <b style="color:blue;">{{MyOrderType}}</b> &nbsp|&nbsp Courier: <b style="color:blue;">{{MyOrderCourier}}</b></label>
                            	<br />
                            </div>
                            <div>
                            <table class="table table-hover">
								<thead class="nav nav-tabs nav-main" style="border-top: 1px solid #ddd;" role="tablist">
										<td nowrap><span class="font-size: 5px;">Tote Used</span></td>
										<td nowrap><span class="font-size: 5px;">Carton ID</span></td>
										<td nowrap><span class="font-size: 5px;">PickList ID</span></td>
										<td nowrap><span class="font-size: 5px;">Items Count</span></td>
										<td nowrap><span class="font-size: 5px;">Status</span></td>
										<td nowrap><span class="font-size: 5px;">Created Date</span></td>
										<td nowrap><span class="font-size: 5px;">Packed Date</span></td>
										<td nowrap><span class="font-size: 5px;">Carton No.</span></td>
										<td nowrap><span class="font-size: 5px;">Transporter Used</span></td>
										<td nowrap><span class="font-size: 5px;">Consolidated?</span></td>
								</thead>
                                <tbody>
                                    <tr ng-repeat="item in orderList | orderBy:'CartonNr'">
                                    	<td ng-show="item.CartonID != null" style="padding: 0px 0px;" nowrap>{{item.ToteUsed}}</td>
                                    	<td ng-hide="item.CartonID != null" style="padding: 0px 0px;" nowrap><a href id="submitOrder" ng-click="submitOrder(item.ToteUsed)" value="Submit">{{item.ToteUsed}}</a></td>
                                    	<td style="padding: 0px 0px;" nowrap><a href id="submitOrder" ng-click="submitOrder(item.CartonID)" value="Submit">{{item.CartonID}}</a></td>
                                    	<td style="padding: 0px 0px;" nowrap>{{item.PickListID}}</td>
                                    	<td style="padding: 0px 0px;" nowrap><a href ng-click="showItems(item.Items, item.PickListID)">{{item.ItemsCount}}</a></td>
                                    	<td style="padding: 0px 0px;" nowrap>{{item.Status}}</td>
                                    	<td style="padding: 0px 0px;" nowrap>{{item.CreatedDate}}</td>
                                    	<td style="padding: 0px 0px;" nowrap>{{item.PackedDate}}</td>
                                    	<td style="padding: 0px 0px;" nowrap>{{item.CartonNr}}</td>
                                    	<td style="padding: 0px 0px;" nowrap>{{item.TransporterUsed}}</td>
                                    	<td style="padding: 0px 0px;" nowrap>{{item.Consolidated}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            </div>
                        </div>
                        <div class="col-md-1"></div>

                        <div id="orderContent" class="col-md-16 carton-details-tab" style="min-height: 145px; display: none">
                        	<div align="left">
                            	<label style="font-size: 16px;">Item Details: <b style="color:blue;">{{ pkListID }}</b></label>
                            </div>
                            <table class="table table-hover">
                           		<thead class="nav nav-tabs nav-main" style="border-top: 1px solid #ddd;" role="tablist">
                           				<td nowrap><span class="font-size: 5px;">Order Line</span></td>
										<td nowrap><span class="font-size: 5px;">SKU</span></td>
										<td ><span class="font-size: 5px;">Item Code</span></td>
										<td nowrap><span class="font-size: 5px;">EAN Code</span></td>
										<td nowrap><span class="font-size: 5px;">Line Qty</span></td>
										<td nowrap><span class="font-size: 5px;">Qty Picked</span></td>
										<td nowrap><span class="font-size: 5px;">Qty Packed</span></td>
										<td nowrap><span class="font-size: 5px;">Pick Location</span></td>
										<td nowrap><span class="font-size: 5px;">Picked By</span></td>
										<td nowrap><span class="font-size: 5px;">Packed By</span></td>
										<td nowrap><span class="font-size: 5px;">&nbsp</span></td>
                            	</thead>
                                <tbody>
                                    <tr ng-repeat="LineItem in LineItems">
                                    	<td width="2%" style="padding: 0px 0px;" >{{LineItem.orderLine}}</td>
                                    	<td width="5%" style="padding: 0px 0px;" >{{LineItem.sku}}</td>
                                    	<td align="left" width="50%" style="padding: 0px 7px;" >{{LineItem.itemCode}}</td>
                                    	<td width="10%"style="padding: 0px 0px;" >{{LineItem.barcode}}</td>
                                    	<td width="2%" style="padding: 0px 0px;" >{{LineItem.qty}}</td>
                                    	<td width="2%" style="padding: 0px 0px;" >{{LineItem.pickQty}}</td>
                                    	<td width="2%" style="padding: 0px 0px;" >{{LineItem.qtyPacked}}</td>
                                    	<td width="5%" style="padding: 0px 0px;" >{{LineItem.location}}</td>
                                    	<td width="5%" align="left" style="padding: 0px 0px;" >{{LineItem.pickedBy}}</td>
                                    	<td width="5%" align="left" style="padding: 0px 0px;" >{{LineItem.packedBy}}</td>
                                    	<td width="5%" ng-show="LineItem.serialised == true" style="padding: 0px 0px;" nowrap><a href ng-click="showSerials(LineItem.serials, LineItem.sku, LineItem.orderLine, LineItem.pickListOrderLine, LineItem.itemCode, LineItem.qty)">Show Serials</a></td>
                                    	<td width="5%" ng-hide="LineItem.serialised == true" style="padding: 0px 0px;" nowrap>&nbsp</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-1"></div>
                    </form>
                </div>

				<div class="flex-container rej-container" id="viewSerialsModal" style="display: none">
					<div class="flex-item center dash-item-border">
						<div class="rej-content">
							<div class="scannedSerialsModal">
								<div class="modal-dialog" style="width: 90%;">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" ng-click="closeViewSerialsModal()" data-dismiss="modal" aria-hidden="true">&times;</button>
											<h4 class="modal-title">Serial Numbers</h4>
										</div>
										<div class="modal-body" style="padding: 0px;">
											<div align="center">
												<br />
												<label style="font-size: 14px;">SKU: <b style="color:blue;">{{sku}}</b> &nbsp|&nbsp Order Line: <b style="color:blue;">{{orderLine}}</b> &nbsp|&nbsp PickList Line: <b style="color:blue;">{{pickListOrderLine}}</b> &nbsp|&nbsp Item Code: <b style="color:blue;">{{itemCode}}</b> &nbsp|&nbsp Quantity: <b style="color:blue;">{{qty}}</b></label>
												<hr />
											</div>
											<div class="columns">
											  <div ng-repeat="Serial in Serials">
												{{Serial}}
											  </div>
											</div>
										</div>
										<div class="modal-footer">
											<button type="button" ng-click="closeViewSerialsModal()" class="btn btn-default" data-dismiss="modal">OK</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
                <!--<form ng-submit="clear()">
                    <md-button class="md-raised md-primary" type="submit" id="clear" value="Submit" style="width: 280px;">Clear</md-button>
                </form>-->
            </div>
        </div>
    </div>

    <!-- Scanning form -->
    <div ng-include="scanningFormUrl"></div>
