<div class="wrapper" ng-hide="cartonWeighingMode || cartonScanningMode">
    <header class="header page-head">
        <span class="col-md-12 dash-font-main">QC REJECTED</span>
    </header>
    <div class="flex-container rej-container">
        <div class="flex-item center dash-item-border">
            <div class="rej-content">
                <div class="row row-spacing">
                    <span class="rej-heading">QC STATION</span>
                </div>
                <div class="row row-spacing">
                    <span class="rej-text">SCAN CARTON OR TRANSPORTER</span>
                </div>
                <div class="row row-spacing">
                    <input type="text" class="input-box" id="scanTransporter" ng-keyup="$event.keyCode == 13 ? getMasterId(masterId) : null" ng-model="masterId" autofocus />
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Carton weighing form -->
<div ng-include="cartonWeighingFormUrl"></div>

<!-- Carton scanning form -->
<div ng-include="cartonScanningFormUrl"></div>
