<div class="wrapper" ng-hide="scanningMode">
    <header class="header page-head">
        <span class="col-md-12 dash-font-main">TOTE INFORMATION</span>
    </header>
    <div class="flex-container rej-container">
        <div class="flex-item center dash-item-border">
            <div class="rej-content">
                <form ng-submit="submit()">
                    <label style="color:red; font-size: 20px;">TOTE ID: {{barcode}}</label><br>
                    <input type="text" class="input-box" id="scannedTote" ng-keyup="$event.keyCode == 13 ? getToteId(toteId) : null" ng-model="toteId" autofocus /><br>
                    <p style="color:red;">{{errorDisplay}}</p>
                    <div class="col-md-1"></div>

                    <div class="col-md-16 carton-details-tab" style="min-height: 145px;">
                        <span style="font-size: 20px;">Order Details</span>
                        <ul class="nav nav-tabs nav-main" style="border-top: 1px solid #ddd;" role="tablist">
                            <span class="col-md-2 font-size: 5px;">Order ID</span>
                            <span class="col-md-2 font-size: 5px;">Pick List ID</span>
                            <span class="col-md-2 font-size: 5px;">Number Of Totes</span>
                            <span class="col-md-2 font-size: 5px;">Priority Level</span>
                        </ul>
                        <table class="table table-hover">
                            <tbody>
                                <tr ng-repeat="item in ordersToDisplay">
                                    <td style="padding: 2px 0px;">
                                        <span class="col-md-2"><a href id="submitOrder" ng-click="submitOrder(item.orderID)" value="Submit">{{ item.orderID }}</a></span>
                                        <span class="col-md-2">{{ item.pickListID }}</span>
                                        <span class="col-md-2">{{ item.numberOfTotes }}</span>
                                        <span class="col-md-2">{{ item.priorityLevel }}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-1"></div>
                    
                    <div class="col-md-16 carton-details-tab" style="min-height: 145px;">
                        <span style="font-size: 20px;">Item Details {{ orderHead }}</span>
                        <ul class="nav nav-tabs nav-main" style="border-top: 1px solid #ddd;" role="tablist">
                            <span class="col-md-2 font-size: 5px;">Item Code</span>
                            <span class="col-md-3 font-size: 5px;">Description</span>
                            <span class="col-md-1 font-size: 5px;">Qty</span>
                            <span class="col-md-2 font-size: 5px;">SKU</span>
                            <span class="col-md-1 font-size: 5px;">Picked</span>
                            <span class="col-md-2 font-size: 5px;">Location</span>
                            <span class="col-md-1 font-size: 5px;">Each Weight</span>
                        </ul>
                        <table class="table table-hover">
                            <tbody>
                                <tr ng-repeat="item in itemsToDisplay">
                                    <td style="padding: 2px 0px;">
                                        <!--<span class="col-md-2" ng-click="showSerials(barcode, item.sku)">{{ item.sku }}</span>-->
					<span class="col-md-2"><a href ng-click="showSerials(barcode, item.sku)">{{ item.sku }}</a></span>
                                        <span class="col-md-3">{{ item.itemDescription }}</span>
                                        <span class="col-md-1">{{ item.pickQty }}</span>
                                        <span class="col-md-2">{{ item.sku }}</span>
                                        <span class="col-md-1">{{ item.picked }}</span>
                                        <span class="col-md-2">{{ item.location }}</span>
                                        <span class="col-md-1">{{ item.eachWeight }}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-1"></div>
                </form>
            </div>
            <div class="row">
                <form ng-submit="clear()">
                    <md-button class="md-raised md-primary" type="submit" id="clear" value="Submit" style="width: 280px;">Clear</md-button>
                </form>
                <form ng-submit="conDash()">
                    <md-button class="md-raised md-primary" type="submit" id="conDash" value="SubmitConveyor" style="width: 280px;">Conveyor Dashboard</md-button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Scanning form -->
<div ng-include="scanningFormUrl"></div>
