<md-dialog aria-label="Mango (Fruit)" style="width:800px">
    <form name="useForm" ng-cloak>
        <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Edit Weight Settings</h2>
        </div>
        </md-toolbar>

        <md-dialog-content>
        <div class="md-dialog-content">
            <md-input-container class="md-block">
                <label>Stock Size</label>
                <input type="number" name="size" ng-model="weightData.stockSize" required="">
                <div ng-messages="useForm.txtCourierName.$error" role="alert" multiple="">
                    <div ng-message="required" class="my-message">Enter the stock size.</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Upper Tollerance</label>
                <input type="number" name="upper" ng-model="weightData.upper" required="">
            </md-input-container>

            <md-input-container class="md-block">
                <label>Lower Tollerance</label>
                <input type="number" name="lower" ng-model="weightData.lower" required="">
            </md-input-container>

            <md-input-container class="md-block">
                <label>Weight</label>
                <input type="number" name="weight" ng-model="weightData.weight" required="">
            </md-input-container>

            <md-input-container class="md-block">
                <label>Transporter</label>
                <input type="text" name="transporter" ng-model="weightData.transporter" required="">
            </md-input-container>

            <md-input-container class="md-block">
                <label>Width</label>
                <input type="number" name="width" ng-model="weightData.width" required="">
            </md-input-container>

            <md-input-container class="md-block">
                <label>Height</label>
                <input type="number" name="height" ng-model="weightData.height" required="">
            </md-input-container>
        </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="answer('Cancel')" class="md-raised md-primary">Cancel</md-button>
        <md-button ng-disabled="!useForm.$valid" ng-click="answer('editWeight', weightData)" class="md-raised md-primary">Ok</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>