<md-dialog aria-label="Mango (Fruit)" style="width:800px">
<form name="useForm" ng-cloak>
    <md-toolbar>
    <div class="md-toolbar-tools">
        <h2>Edit courier company details</h2>
    </div>
    </md-toolbar>

    <md-dialog-content>
    <div class="md-dialog-content">
        <md-input-container class="md-block">
            <label>Courier Name</label>
            <input type="text" name="txtCourierName" ng-model="courierData.courierName" required="">
            <div ng-messages="useForm.txtCourierName.$error" role="alert" multiple="">
                <div ng-message="required" class="my-message">Please enter the courier name.</div>
            </div>
        </md-input-container>
        <md-input-container class="md-block">
            <label>Route Number</label>
            <input type="number" name="txtRouteNumber" ng-model="courierData.routeNumber" required="">
        </md-input-container>
    </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
    <span flex></span>
    <md-button ng-click="answer('Cancel')" class="md-raised md-primary">Cancel</md-button>
    <md-button ng-disabled="!useForm.$valid" ng-click="answer('addCourier', courierData)" class="md-raised md-primary">Ok</md-button>
    </md-dialog-actions>
</form>
</md-dialog>