<div class="wrapper">
    <header class="header page-head">
        <span class="col-md-12 dash-font-main">COURIER REJECTED</span>
    </header>
    <div class="flex-container rej-container">
        <div class="flex-item center dash-item-border">
            <div class="rej-content">
                <div class="row row-spacing">
                    <span class="rej-heading">COURIER STATION</span>
                </div>
                <div class="row row-spacing">
                    <span class="rej-text">SCAN CARTON OR TRANSPORTER</span>
                </div>
                <div class="row row-spacing">
                    <input type="text" class="input-box" id="scanContainer" ng-keyup="$event.keyCode == 13 ? getMasterId(masterId) : null" ng-model="masterId" autofocus />
                </div>
                <div class="row row-spacing" ng-show="ContainerScanned">
                    <span class="rej-heading">CONTAINER {{cartonScanned}} SCANNED</span>
                </div>
                <div class="row row-spacing" ng-show="ContainerScanned">
                	<span class="rej-text carton-details-tab">{{ErrorMsg}}</span>
                </div>
                <div class="col-md-8 carton-details-tab" style="min-height: 145px;" ng-show="ContainerHistory">
                    <span style="font-size: 20px;">Container History</span>
                    <ul class="nav nav-tabs nav-main" style="border-top: 1px solid #ddd;" role="tablist">
                        <span class="col-md-3 font-size: 16px;">Date</span>
                        <span class="col-md-5 font-size: 16px;">Reason</span>
                        <span class="col-md-2 font-size: 16px;">Checked</span>
                        <span class="col-md-2 font-size: 16px;">Checked By</span>
                    </ul>
                    <table class="table table-hover">
                        <tbody>
                            <tr ng-repeat="item in listOfScannedItems">
                                <td  style="padding: 5px 0px;">
                                    <span class="col-md-3">{{ item.Date }}</span>
                                    <span class="col-md-5">{{ item.Reason }}</span>
                                    <span class="col-md-2">{{ item.Checked }}</span>
                                    <span class="col-md-2">{{ item.CheckedBy }}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
