<div class="container">
    <div class="page-header">
        <h2>{{trackHeader}}</h2>
    </div>
</div>

<div class="container"  layout="row">
    <div class="col-sm-3">
	<div class="container" style="padding-top: 12px">
	    <md-datepicker  style="width:100%" ng-model="myDate" md-placeholder="Select Date" md-open-on-focus></md-datepicker> &nbsp;
            <label> {{total}} </label>
	</div>
    </div>
    <div class="col-sm-3"></div>
    <div class="col-sm-3"></div>
    <div class="col-sm-3">
	<md-input-container  class="md-block">
            <label>Carton ID</label>
            <input type="text" name="txtUser" ng-keyup="$event.keyCode == 13 ? getCartonID(CartonID) : null" ng-model="CartonID">
        </md-input-container>
    </div>
</div>

<div class="container">
    <div class="md-whiteframe-z5" layout="column"  style="padding-top: 30px; padding-left: 30px; padding-right: 30px; max-height: 600px; min-height: 165px; overflow: auto;">
		<div class="row">
			<div class="pull-right" style="color:blue;">Filter: <input type="text" ng-model="searchBox"/></div>
		</div>
		<br />
        <table class="table table-hover">
            <thead>
                <tr>
                <th>{{tableHeaders.cartonID}}</th>
                <th>{{tableHeaders.PackedDate}}</th>
                <th>{{tableHeaders.DispatchedDate}}</th>
                <th>{{tableHeaders.shipped}}</th>
                <th>{{tableHeaders.dispatched}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="carton in cartons | filter:searchBox:carton.orders[0].cartonID">
                    <td>{{carton.orders[0].cartonID}}</td>
                    <td>{{carton.PackedDate}}</td>
                    <td>{{carton.dispatchedDate}}</td>
                    <td>{{carton.orders[0].shipped}}</td>
                    <td>{{carton.dispatched}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="container" style="padding-top: 30px">
    <label>Total: {{count}}</label>
</div>




