<html>
<head>
	<script type="text/javascript">
		function SetFocus(InputID)  { document.getElementById(InputID).focus(); }
		<%ShowAlert%>var wait = setTimeout("document.main.submit();", 10000);
	</script>
</head>
<body onload="SetFocus('input')">
	<div style="width:200px">
		<h3 style="color: red; text-align: center">Pick Trolley</h3>
		<form name="main" action="/<%endPoint%>" method="post" enctype="multipart/form-data">
			<fieldset>
				<%Logout%>
					<a style="float:right; color: blue;" onclick="document.getElementById('logoutForm').submit();"><u><i>logout</i></u></a>
				<%EndLogout%>

				<%Login%>
					<label>Username</label><br/>		<input type="text"		id="uid"	name="uid" /><br/>
					<label>Password</label><br/>		<input type="password"	id="psw"	name="psw" /><br/>
					<label>Trolley ID</label><br/>		<input type="text"		id="trlid"	name="trlid" /><br/>
					<input type="submit" /><br/>
				<%EndLogin%>

				<%TrMode%>
				<%ScannedTrlID%>
				<%ScannedZone%><%ScannedLocID%>

				<%ErrorMessage%>
				<%Instruction%>

				<%Idle%>
					<br/><label style="color: blue;"><b><i>Waiting for Work...</i></b></label><br/>
				<%EndIdle%>

				<%Input%>		<input type="text" id="input" name="input" />	<input type="submit" />		<%EndInput%>
				<%ReleaseBtn%>	<hr/><input type="submit" value="Release Trolley" />								<%EndReleaseBtn%>
				<%ChangeZoneBtn%><a style="float:right; color: blue;" onclick="document.getElementById('ChangeZone').submit();"><u><i>Change Zone</i></u></a><%EndChangeZoneBtn%>
				<br/>
			</fieldset>
		</form>
		<form id="logoutForm" method="post" action="/logout">
			<input type="hidden" name="lg" value="value" />
		</form>
		<form id="ChangeZone" method="post" action="/ChangeZone">
			<input type="hidden" name="lg" value="value" />
		</form>
	</div>
</body>
</html>
