<div class="panel panel-default panel-margin">    
	<div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-cubes text-primary"></i> {{ user.name }}</h3>
    </div>
    <div ng-hide="editMode">
        <div class="tab-content tab-padding">
            <div class="tab-margin">
                <div ng-if="user.name" class="row">
                    <span class="col-md-4 bold">Name: </span>
                    <span class="col-md-5"> {{user.name}}</span>
                </div>
                <div ng-if="user.surname" class="row">
                    <span class="col-md-4 bold">Surname: </span>
                    <span class="col-md-5"> {{user.surname}}</span>
                </div>
                <div ng-if="user.username" class="row">
                    <span class="col-md-4 bold">Username: </span>
                    <span class="col-md-5"> {{user.username}}</span>
                </div>
                <div ng-if="user.role_name" class="row">
                    <span class="col-md-4 bold">Role: </span>
                    <span class="col-md-5"> {{user.role_name}}</span>
                </div>
                <div ng-if="user.unique_id" class="row">
                    <span class="col-md-4 bold">Unique Id: </span>
                    <span class="col-md-5"> {{user.unique_id}}</span>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="clearfix">
                <div class="pull-right">
                    <a class="btn btn-primary" ng-click="deleteUser(user.id)">Delete User</a>
                    <a class="btn btn-primary" ng-click="toggleEdit()">Edit User</a>
                    <a class="btn btn-primary" href="#/userMan/">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- User form -->
<div ng-include="userFormUrl"></div>