<div class="panel panel-default panel-margin">    
	<div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-user text-primary"></i> User Management &nbsp; &nbsp; 
		<span ng-click="addUser()" class="glyphicon glyphicon-plus text-primary"></span> 
	</h3>
    </div>
    <ul class="nav nav-tabs nav-main" role="tablist">
        <span class="col-md-3">Name</span>
        <span class="col-md-3">Surname</span>
        <span class="col-md-3">Username</span>
        <span class="col-md-3">Role ID</span>
    </ul>
    <div class="tab-content" style="max-height: 700px; min-height: 700px; overflow: auto">
        <table class="table table-hover">
            <tbody>
                <tr ng-repeat="user in users">
                    <td class="table-list-padding">
		       <span class="col-md-3">
                            <span ng-click="removeUser(user.username)" class="glyphicon glyphicon-trash"></span> &nbsp; 
                            <span ng-click="editCourier(user)" class="glyphicon glyphicon-cog"></span> &nbsp; &nbsp;
                            {{ user.name }}
                       </span>
                       <span class="col-md-3">{{ user.surname }}</span>
                       <span class="col-md-3">{{ user.username }}</span>
		       <span ng-if="user.roleID == 1" class="col-md-3">Normal User</span>
		       <span ng-if="user.roleID == 2" class="col-md-3">Administrator</span>
                       <span ng-if="user.roleID == 3" class="col-md-3">Supervisor</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        <div class="clearfix">
            <div class="pull-right">
                <a class="btn btn-primary" ng-click="addUser()">New User</a>
            </div>
        </div>
    </div>
</div>
