<div class="panel panel-default panel-margin">    
	<div class="panel-heading" ng-hide="user.id">
        <h3 class="panel-title"><i class="fa fa-user text-primary"></i> Create new user</h3>
    </div>
    <p>{{populateValues()}}</p>
    <div class="tab-content tab-padding">
        <div class="form-group" name="useForm">
            <md-input-container class="md-block">
                <label>Name</label>
                <input type="text" name="txtUser" ng-model="user.name" required>
                <div ng-messages="useForm.txtUser.$error" role="alert" multiple="">
                    <div ng-message="required" class="my-message">Please enter your Name</div>
                </div>
            </md-input-container>
        </div>
        <div class="form-group">
            <md-input-container class="md-block">
                <label>Surname</label>
                <input type="text" name="txtUser" ng-model="user.surname" required>
            </md-input-container>
        </div>
        <div class="form-group">
            <md-input-container class="md-block">
                <label>Username</label>
                <input type="text" name="txtUser" ng-model="user.username" required>
            </md-input-container>
        </div>
        <div class="form-group">
            <md-input-container class="md-block">
                <label>Password</label>
                <input type="password" name="userPassword" ng-model="user.password" required>
            </md-input-container>
        </div>
        <!--<div class="form-group">
            <div class="input-group">
                <span class="input-group-addon resize">Unique ID</span>
                <input type="text" class="form-control input-box" placeholder="uniqueId" ng-model="user.unique_id" id="userUniqueID" name="userUniqueID" required>
            </div>
        </div>-->
        <div class="form-group">
            <!--<div class="input-group">
                <span class="input-group-addon resize">Role</span>
                <select name="userRole" id="userRole" class="selectpicker form-control input-box" aria-describedby="group-type" 
                    ng-options="option.name for option in listOfUserRoles" 
                    ng-model="user.role_name"
                    ng-change="selectedRoleValueItemChanged(user.role_name)">
                </select>
            </div>-->

            <md-input-container class="md-block">
                <label>Role</label>
                <md-select name="type" ng-model="printBy" required>
                    <md-option value="Admin" ng-click="show('Admin')" ng-model="Admin">Admin</md-option>
                    <md-option value="Normal" ng-click="show('Normal')" ng-model="Normal">Normal User</md-option>
                </md-select>
            </md-input-container>
        </div>
    </div>
    <div class="panel-footer">
        <div class="clearfix">
            <div class="pull-right">
                <a class="btn btn-primary" ng-click="back()">Back</a>
                <a class="btn btn-primary" ng-click="saveUser(user)">Save</a>
            </div>
        </div>
    </div>
</div>

