

.new-form-container {
    background-color: lightgrey;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.7);
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.7);
    background: linear-gradient(to left, rgb(242,242,242) 60%, transparent);

}

.ng-hide {
    height: 0;
    width: 0;
    background-color: transparent;
    top:-200px;
    left: 200px;
  }

.label-main {
    margin-bottom: 5px;
    color: #aaa;
}

.form-input {
    display: block;
    height: 34px;
    padding: 6px 12px;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.nav-main {
    font-weight: bold;
    padding: 5px 0px;
    margin-bottom: -1px !important;
}

.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 5px;
  flex: 1 100%;
}

.heading {
    color: grey;
    font-weight: bold;
    margin: 5px 0px;
}

.table > thead > tr > th {
    vertical-align: middle;
}

.margin-bottom-basic {
    margin-bottom: 15px;
}

.pagination {
    margin: 0;
}

.items-per-page {
    margin-left: 15px;
}

.sortable:after {
    font: 14px/1 FontAwesome;
    content: "\f0dc";
}

.sortable.sort-ascent:after {
    content: '\f0de';
    vertical-align: bottom;
}

.sortable.sort-descent:after {
    content: "\f0dd";
    vertical-align: top;
}

button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

div.panel2 {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* blank class used for showing and hiding some div elements */
/* do NOT remove */
.itemActive {

}

.panel-margin {
    margin: 0 15%;
}

.carton-details-tab {
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    background-color: #fff;
    padding: 5px;
}

/*
*   General styles
*/

.tab-padding {
    padding: 15px;
}

.grid-padding {
    padding: 5px 10px;
}

.table-list-padding {
    padding: 5px 0px;
}

.tab-margin {
    margin-top: 15px;
}

.bold {
    font-weight: bold;
}

.page-head {
    height: 70px;
    margin: 0 5%;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #262626 !important;
    background-color: #e7e7e7 !important;
    cursor: pointer !important;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    color: #262626 !important;
    text-decoration: none !important;
    background-color: #e7e7e7 !important;
}

.btn {
    border: 2px solid grey;
    border-radius: 5px;
    background-color: #e7e7e7;
    color: grey;
    font-weight: bold;
    margin-left: 10px;
    height: 55px;
    min-width: 125px;
    font-size: 17px !important;
    padding: 10px !important;
}

/*
*   Dashboard styles
*/

.item-card {
    height: 21%;
    width: 100%;
    border: 2px solid grey;
    margin-top: 10px;
    background-color: #eee;
    border-radius: 10px;
    color: grey;
    display: table;
    overflow: hidden;
}

.item-card .left-content {
    display: table-cell;
    float: none;
    font-size: 34px;
    vertical-align: middle;
}

.item-card .right-content {
    display: table-cell;
    float: none;
    font-size: 68px;
    vertical-align: middle;
}

.dash-item-border {
    /*border: 1px solid transparent;
    border-radius: 5px;
    padding: 5px;
    -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.25);*/
}

.dash-font-main {
    background-color: #006c92;
    border: 1px solid transparent;
    border-radius: 5px;
    color: #fdca03;
    font-style: italic;
    font-weight: bold;
    font-size: x-large;
    padding: 15px;
}

.link-switch {
    font-size: 14px;
    margin-top: 22px;
    margin-right: -15px;
}

.link-switch:hover {
    color:#006c92;
    text-decoration: none;
}

/*
*   Flex container styles
*/

.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    min-height: 400px;
    height: 100%;
}

.flex-item {
    background-color: #fff;
    height: 550px;
    margin: 10px;
}

.left {
    -webkit-flex: 1;
    flex: 1;
}

.center {
    -webkit-flex: 1;
    flex: 1;
}

.right {
    -webkit-flex: 1;
    flex: 1;
}

/*
*   Chart styles
*/

.chart-container {
    margin:0 12%;
    border: 1px solid transparent;
    border-radius: 5px;
}

/*
*   Reject station screen styles
*/

.rej-container {
    /*margin: 0 11.5%;*/
}

.rej-container .row-spacing {
    margin-top: 15px;
    margin-bottom: 15px;
}

.rej-container .rej-content {
    border: 2px solid black;
    border-radius: 5px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 15px;
    min-height: 250px;
    height: auto;
    padding: 5px;
}

.rej-container .rej-heading {
    font-size: 25px;
    color: red;
    font-weight: bold;
}

.rej-container .rej-text {
    font-size: 20px;
    font-weight: bold;
}

/*
*   Input and dropdown styles
*/

.input-box {
    height: 42px;
    width: auto;
    min-width: 250px;
    border: 1px solid #6e8aa1;
    padding: 0px 5px;
    font-size: 18px;
}

.input-box:focus {
    border: 2px solid #31708f !important;
    border-color: #31708f !important;
    outline: 0 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(49,112,143,0.35), 0 0 0px rgba(49,112,143,.25) !important;
    box-shadow: inset 0 1px 1px rgba(49,112,143,0.35), 0 0 0px rgba(49,112,143,.25) !important;
}