<div class="wrapper" ng-hide="cartonWeighingMode || cartonScanningMode">
	<header class="header page-head">
		<span class="col-md-12 dash-font-main">FULL PALLET STATION</span>
	</header>
	<div class="flex-container rej-container" ng-show="Packing">
		<div class="flex-item center dash-item-border">
			<div class="rej-content">
				<div class="row row-spacing">
					<span class="rej-heading">PALLET PACKING</span>
				</div>
				<div class="row row-spacing">
					<span class="rej-text">SCAN PALLET ID</span>
				</div>
				<div class="row row-spacing">
					<input type="text" class="input-box" id="palletId" ng-keyup="$event.keyCode == 13 ? getMasterId(masterId) : null" ng-model="masterId" focus-me="Packing" />
				</div>
			</div>
		</div>
	</div>

    <div class="flex-container rej-container" ng-show="Handover">
        <div class="flex-item center dash-item-border">
            <div class="rej-content">
                <div class="row row-spacing">
                    <span class="rej-heading">COURIER HANDOVER</span>
                </div>
                <div class="row row-spacing">
                    <span class="rej-text">PALLET - {{HandoverID}}</span>
                </div>
                <div class="row row-spacing">
                    <span class="rej-text">{{displayMessage}}</span>
                </div>
                <div class="clearfix">
                    <div class="pull-left">
                        <span ng-if="reset=='RESET'" ><button class="btn btn-primary" ng-click="resetCarton()" ng-hide="Packing">{{reset}}</button></span>
                        <span ng-if="reset=='COMPLETE'" ><button class="btn btn-primary" ng-click="done()" ng-hide="Packing">{{reset}}</button></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Carton weighing form -->
<div ng-include="cartonWeighingFormUrl"></div>

<!-- Carton scanning form -->
<div ng-include="cartonScanningFormUrl"></div>
