<div class="wrapper" ng-hide="cartonWeighingMode || cartonScanningMode">
    <header class="header page-head">
        <span class="col-md-12 dash-font-main">{{header}}</span>
    </header>
    <div class="flex-container rej-container">
        <div class="flex-item center dash-item-border">
            <div class="rej-content">
                <div class="row row-spacing">
                    <span class="rej-heading">PALLET HANDOVER 02</span>
                </div>
                <div class="row row-spacing">
                    <span class="rej-text">PALLET - {{loadID}}</span>
                </div>
                <div class="row row-spacing">
                    <span class="rej-text">{{displayMessage}}</span>
                </div>
                <div class="row row-spacing">
                    <span class="rej-text">COURIER 1</span>
                </div>
                <div class="clearfix">
                    <div class="pull-left">
                        <span ng-if="reset=='RESET'" ><button class="btn btn-primary" ng-click="resetCarton()">{{reset}}</button></span>
                        <span ng-if="reset=='COMPLETE'" ><button class="btn btn-primary" ng-click="done()">{{reset}}</button></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Carton weighing form -->
<div ng-include="cartonWeighingFormUrl"></div>

<!-- Carton scanning form -->
<div ng-include="cartonScanningFormUrl"></div>
