<div class="wrapper" ng-hide="scanningMode">
    <header class="header page-head">
        <span class="col-md-12 dash-font-main">{{header}}</span>
    </header>
    <div class="flex-container">
        <div class="flex-item center dash-item-border">
            <div class="rej-content">
                <!--<form ng-submit="getPickList()">
                    <div class="row row-spacing">
                            <span class="col-md-4 rej-text" style="display: ''" id="toteDetailHeading">Search For Order ID:
                                    <input type="text" id="scannedTote" ng-keyup="$event.keyCode == 13 ? getOrderID(orderID) : null" ng-model="orderID" autofocus />
                            </span>
                    </div>
                </form>-->
                <form ng-submit="submit()">
                    <!--<label style="color:red; font-size: 20px;">TOTE ID: {{barcode}}</label><br>
                    <input type="text" class="input-box" id="scannedTote" ng-keyup="$event.keyCode == 13 ? getToteId(toteId) : null" ng-model="toteId" autofocus /><br>-->
                    <!--<div class="col-md-1"></div> -->
                    <div class="col-md-1"></div>
                    <div class="col-md-2 carton-details-tab" style="min-height: 175px;">
                        <span style="font-size: 20px;">{{statusTable.header}}</span>
                        <ul class="nav nav-tabs nav-main" style="border-top: 1px solid #ddd;" role="tablist">
                            <span class="col-md-4 font-size: 5px;">STATUS</span>
                            <span class="col-md-4 font-size: 5px;">NUMBER</span>
                            <span class="col-md-4 font-size: 5px;">TOTAL</span>
                        </ul>
                        <table class="table table-hover">
                            <tbody>
                                <tr >
                                    <td style="padding: 2px 0px;">
                                        <span class="col-md-4"><a href id="newLink" ng-click="newSubmit()" value="Submit">NEW</a></span>
                                        <span class="col-md-4">{{ statusNew }}</span>
                                        <span class="col-md-4">{{ statusNewAdd }}</span>
                                    </td>
                                </tr>
                                <tr >
                                    <td style="padding: 2px 0px;">
                                        <span class="col-md-4"><a href id="startedLink" ng-click="startedSubmit()" value="Submit">STARTED</a></span>
                                        <span class="col-md-4">{{ statusStarted }}</span>
                                        <span class="col-md-4">{{ statusStartedAdd }}</span>
                                    </td>
                                </tr>
                                <tr >
                                    <td style="padding: 2px 0px;">
                                        <span class="col-md-4"><a href id="pickedLink" ng-click="pickedSubmit()" value="Submit">PICKED</a></span>
                                        <span class="col-md-4">{{ statusPicked }}</span>
                                        <span class="col-md-4">{{ statusPickedAdd }}</span>
                                    </td>
                                </tr>
                                <tr >
                                    <td style="padding: 2px 0px;">
                                        <span class="col-md-4"><a href id="storedLink" ng-click="storedSubmit()" value="Submit">STORED</a></span>
                                        <span class="col-md-4">{{ statusStored }}</span>
                                        <span class="col-md-4">{{ statusStoredAdd }}</span>
                                    </td>
                                </tr>
                                <tr >
                                    <td style="padding: 2px 0px;">
                                        <span class="col-md-4"><a href id="packedLink" ng-click="packedSubmit()" value="Submit">PACKED</a></span>
                                        <span class="col-md-4">{{ statusPacked }}</span>
                                        <span class="col-md-4">{{ statusPackedAdd }}</span>
                                    </td>
                                </tr>
                                <tr >
                                    <td style="padding: 2px 0px;">
                                        <span class="col-md-4"><a href id="shippedLink" ng-click="shippedSubmit()" value="Submit">SHIPPED</a></span>
                                        <span class="col-md-4">{{ statusShipped }}</span>
                                        <span class="col-md-4">{{ statusShippedAdd }}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--<div class="col-md-4"></div>-->

                    <div class="col-md-8 carton-details-tab" id="NewOrders" style="display: none; max-height: 450px; min-height: 165px; overflow: auto">
                        <span style="font-size: 20px;">PICK LISTS</span>
                        <div class="row">
                        	<div class="pull-right" style="color:blue;">Filter: <input type="text" ng-model="searchBox"/></div>
                        </div>
                        <br />
                        <table class="table table-hover">
                        	<thead>
                        		<td><span class="font-size: 5px;">Created Date</span></td>
                        		<td><span class="font-size: 5px;">Order ID</span></td>
                        		<td><span class="font-size: 5px;">PickList ID</span></td>
                        		<td><span class="font-size: 5px;">Consolidated</span></td>
                        		<td><span class="font-size: 5px;">Status</span></td>
                        	</thead>
                            <tbody>
                                <tr ng-repeat="item in pickLists | filter:searchBox:item.orders[0].orderID | orderBy:'CreateDate'">
                                     <td style="padding: 0px 0px;" nowrap>{{item.CreateDate}}</td>
									 <td style="padding: 0px 0px;" nowrap><a href id="submit1" ng-click="submit1(item.orders[0].orderID)" value="Submit">{{item.orders[0].orderID}}</a></td>
									 <td style="padding: 0px 0px;" nowrap>{{item.orders[0].pickListID}}</td>
									 <td style="padding: 0px 0px;" nowrap>{{item.consolidated}}</td>
									 <td style="padding: 0px 0px;" nowrap>{{item.Status}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-md-8 carton-details-tab" id="StartedOrders" style="display: none; max-height: 450px; min-height: 165px; overflow: auto">
                        <span style="font-size: 20px;">PICK LISTS</span>
                        <div class="row">
                        	<div class="pull-right" style="color:blue;">Filter: <input type="text" ng-model="searchBox"/></div>
                        </div>
                        <br />
                        <table class="table table-hover" nowrap>
                        	<thead>
                        		<td><span class="font-size: 5px;">Created Date</span></td>
                        		<td><span class="font-size: 5px;">Tote ID</span></td>
                        		<td><span class="font-size: 5px;">Order ID</span></td>
                        		<td><span class="font-size: 5px;">PickList ID</span></td>
                        		<td><span class="font-size: 5px;">Consolidated</span></td>
                        		<td><span class="font-size: 5px;">Status</span></td>
                        	</thead>
                            <tbody>
                                <tr ng-repeat="item in pickLists | filter:searchBox:item.orders[0].orderID | orderBy:'toteID'">
                                     <td style="padding: 0px 0px;" nowrap>{{item.CreateDate}}</td>
									 <td style="padding: 0px 0px;" nowrap><a href id="submit" ng-click="submit(item.toteID)" value="Submit">{{item.toteID}}</a></td>
									 <td style="padding: 0px 0px;" nowrap><a href id="submit1" ng-click="submit1(item.orders[0].orderID)" value="Submit">{{item.orders[0].orderID}}</a></td>
									 <td style="padding: 0px 0px;" nowrap>{{item.orders[0].pickListID}}</td>
									 <td style="padding: 0px 0px;" nowrap>{{item.consolidated}}</td>
									 <td style="padding: 0px 0px;" nowrap>{{item.Status}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-md-8 carton-details-tab" id="PickedOrders" style="display: none; max-height: 450px; min-height: 165px; overflow: auto">
                        <span style="font-size: 20px;">PICK LISTS</span>
                        <div class="row">
                        	<div class="pull-right" style="color:blue;">Filter: <input type="text" ng-model="searchBox"/></div>
                        </div>
                        <br />
                        <table class="table table-hover" nowrap>
                        	<thead>
                        		<td><span class="font-size: 5px;">Created Date</span></td>
                        		<td><span class="font-size: 5px;">Tote ID</span></td>
                        		<td><span class="font-size: 5px;">Order ID</span></td>
                        		<td><span class="font-size: 5px;">PickList ID</span></td>
                        		<td><span class="font-size: 5px;">Consolidated</span></td>
                        		<td><span class="font-size: 5px;">Chute</span></td>
                        		<td><span class="font-size: 5px;">Packing?</span></td>
                        		<td><span class="font-size: 5px;">Station</span></td>
                        		<td><span class="font-size: 5px;">Status</span></td>
                        	</thead>
                            <tbody>
                                <tr ng-repeat="item in pickLists | filter:searchBox:item.orders[0].orderID | orderBy:'toteID'">
                                     <td style="padding: 0px 0px;" nowrap>{{item.CreateDate}}</td>
									 <td style="padding: 0px 0px;" nowrap><a href id="submit" ng-click="submit(item.toteID)" value="Submit">{{item.toteID}}</a></td>
									 <td style="padding: 0px 0px;" nowrap><a href id="submit1" ng-click="submit1(item.orders[0].orderID)" value="Submit">{{item.orders[0].orderID}}</a></td>
									 <td style="padding: 0px 0px;" nowrap>{{item.orders[0].pickListID}}</td>
									 <td style="padding: 0px 0px;" nowrap>{{item.consolidated}}</td>
									 <td style="padding: 0px 0px;" nowrap>{{item.containerLocation}}</td>
									 <td style="padding: 0px 0px;" nowrap>{{item.toteInUse}}</td>
									 <td style="padding: 0px 0px;" nowrap>{{item.toteInUseBy}}</td>
									 <td style="padding: 0px 0px;" nowrap>{{item.Status}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-md-8 carton-details-tab" id="PackedOrders" style="display: none; max-height: 450px; min-height: 165px; overflow: auto">
                        <span style="font-size: 20px;">PICK LISTS</span>
                        <div class="row">
                        	<div class="pull-right" style="color:blue;">Filter: <input type="text" ng-model="searchBox"/></div>
                        </div>
                        <br />
                        <table class="table table-hover" nowrap>
                        	<thead>
                        		<td><span class="font-size: 5px;">Created Date</span></td>
                        		<td><span class="font-size: 5px;">Carton ID</span></td>
                        		<td><span class="font-size: 5px;">Transporter</span></td>
                        		<td><span class="font-size: 5px;">Order ID</span></td>
                        		<td><span class="font-size: 5px;">PickList ID</span></td>
                        		<td><span class="font-size: 5px;">Station Packed</span></td>
                        		<td><span class="font-size: 5px;">Packed Date</span></td>
                        		<td><span class="font-size: 5px;">Status</span></td>
                        	</thead>
                            <tbody>
                                <tr ng-repeat="item in pickLists | filter:searchBox:item.orders[0].orderID | orderBy:'PackedDate'">
                                     <td style="padding: 0px 0px;" nowrap>{{item.CreateDate}}</td>
									 <td style="padding: 0px 0px;" nowrap><a href id="submit" ng-click="submit(item.toteID)" value="Submit">{{item.toteID}}</a></td>
									 <td style="padding: 0px 0px;" nowrap>{{item.transporterID}}</td>
									 <!--<span ng-if="item.transporterID !== ''"> {{ item.transporterID }} </span>
                                	 <span ng-if="item.transporterID == ''"> - </span>-->
									 <td style="padding: 0px 0px;" nowrap><a href id="submit1" ng-click="submit1(item.orders[0].orderID)" value="Submit">{{item.orders[0].orderID}}</a></td>
									 <td style="padding: 0px 0px;" nowrap>{{item.orders[0].pickListID}}</td>
									 <td style="padding: 0px 0px;" nowrap>{{item.toteInUseBy}}</td>
									 <td style="padding: 0px 0px;" nowrap>{{item.PackedDate}}</td>
									 <td style="padding: 0px 0px;" nowrap>{{item.Status}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-md-8 carton-details-tab" id="TheRest" style="display: none; max-height: 450px; min-height: 165px; overflow: auto">
                        <span style="font-size: 20px;">PICK LISTS</span>
                        <div class="row">
                        	<div class="pull-right" style="color:blue;">Filter: <input type="text" ng-model="searchBox"/></div>
                        </div>
                        <br />
                        <table class="table table-hover">
                        	<thead>
                        		<td><span class="font-size: 5px;">Created Date</span></td>
                        		<td><span class="font-size: 5px;">Location</span></td>
                        		<td><span class="font-size: 5px;">Order ID</span></td>
                        		<td><span class="font-size: 5px;">PickList ID</span></td>
                        		<td><span class="font-size: 5px;">Station Packed</span></td>
                        		<td><span class="font-size: 5px;">Status</span></td>
                        	</thead>
                            <tbody>
                                <tr ng-repeat="item in pickLists | filter:searchBox:item.orders[0].orderID | orderBy:'toteID'">
                                     <td style="padding: 0px 0px;" nowrap>{{item.CreateDate}}</td>
									 <td style="padding: 0px 0px;" nowrap><a href id="submit" ng-click="submit(item.toteID)" value="Submit">{{item.toteID}}</a></td>
									 <td style="padding: 0px 0px;" nowrap><a href id="submit1" ng-click="submit1(item.orders[0].orderID)" value="Submit">{{item.orders[0].orderID}}</a></td>
									 <td style="padding: 0px 0px;" nowrap>{{item.orders[0].pickListID}}</td>
									 <td style="padding: 0px 0px;" nowrap>{{item.toteInUseBy}}</td>
									 <td style="padding: 0px 0px;" nowrap>{{item.Status}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                   <!-- <div class="col-md-1"></div> -->
                </form>
            </div>
            <!--<form ng-submit="clear()">
                <md-button class="md-raised md-primary" type="submit" id="clear" value="Submit" style="width: 280px;">Clear</md-button>
            </form>-->
        </div>
    </div>
</div>

<!-- Scanning form -->
<div ng-include="scanningFormUrl"></div>
