<div class="wrapper" ng-hide="scanningMode">
    <header class="header page-head">
        <span class="col-md-12 dash-font-main">{{header}}</span>
    </header>
    <div class="flex-container">
        <div class="flex-item center dash-item-border">
            <div class="rej-content">
                <!--<form ng-submit="getPickList()">
                    <div class="row row-spacing">
                            <span class="col-md-4 rej-text" style="display: ''" id="toteDetailHeading">Search For Order ID: 
                                    <input type="text" id="scannedTote" ng-keyup="$event.keyCode == 13 ? getOrderID(orderID) : null" ng-model="orderID" autofocus />
                            </span>
                    </div>-->
                </form>
                <form ng-submit="submit()">
                    <!--<label style="color:red; font-size: 20px;">TOTE ID: {{barcode}}</label><br>
                    <input type="text" class="input-box" id="scannedTote" ng-keyup="$event.keyCode == 13 ? getToteId(toteId) : null" ng-model="toteId" autofocus /><br>-->
                    <div class="col-md-1"></div> 
                    
                    <div class="col-md-3 carton-details-tab" style="min-height: 145px;">
                        <span style="font-size: 20px;">{{statusTable.header}}</span>
                        <ul class="nav nav-tabs nav-main" style="border-top: 1px solid #ddd;" role="tablist">
                            <span class="col-md-6 font-size: 5px;">STATUS</span>
                            <span class="col-md-6 font-size: 5px;">NUMBER</span> 
                            <!--<span class="col-md-4 font-size: 5px;">{{statusTable.packedHeader}}</span>-->
                        </ul>
                        <table class="table table-hover">
                            <tbody>
                                <tr ng-repeat="item in pickListArr">
                                    <td style="padding: 2px 0px;">
                                        <span class="col-md-6"><a href id="newLink" ng-click="newSubmit()" value="Submit">NEW</a></span>
                                        <span class="col-md-6">{{ item.statusNew }}</span> 
                                        <!--<span class="col-md-4">{{ item.statusPacked }}</span>-->
                                    </td>
                                </tr> 
                                <tr ng-repeat="item in pickListArr">
                                    <td style="padding: 2px 0px;">
                                        <span class="col-md-6"><a href id="pickedLink" ng-click="pickedSubmit()" value="Submit">PICKED</a></span>
                                        <span class="col-md-6">{{ item.statusPicked }}</span> 
                                        <!--<span class="col-md-4">{{ item.statusPacked }}</span>-->
                                    </td>
                                </tr> 
                                <tr ng-repeat="item in pickListArr">
                                    <td style="padding: 2px 0px;">
                                        <span class="col-md-6"><a href id="packedLink" ng-click="packedSubmit()" value="Submit">PACKED</a></span>
                                        <!-- <span class="col-md-4">{{ item.statusPicked }}</span> -->
                                        <span class="col-md-6">{{ item.statusPacked }}</span>
                                    </td>
                                </tr> 
                            </tbody>
                        </table>
                    </div>
                    <!--<div class="col-md-4"></div>-->

                    <div class="col-md-7 carton-details-tab" style="max-height: 450px; min-height: 165px; overflow: auto">
                        <span style="font-size: 20px;">PICK LISTS</span>
                        <ul class="nav nav-tabs nav-main" style="border-top: 1px solid #ddd;" role="tablist">
                            <span class="col-md-2 font-size: 5px;">Tote ID</span>
                            <span class="col-md-3 font-size: 5px;">Tote In Use</span>
                            <span class="col-md-3 font-size: 5px;">Tote In Use By</span>
                            <span class="col-md-2 font-size: 5px;">Packed Date</span>
                            <span class="col-md-2 font-size: 5px;">Status</span>
                        </ul>
                        <table class="table table-hover">
                            <tbody>
                                <tr ng-repeat="item in pickLists">
                                    <td style="padding: 2px 0px;">
                                        <span class="col-md-2"><a href id="submit" ng-click="submit(item.toteID)" value="Submit">{{item.toteID}}</a></span>
                                        <span class="col-md-3">{{item.toteInUse}}</span>
                                        <span class="col-md-3">{{item.toteInUseBy}}</span>
                                        <span class="col-md-2">{{item.PackedDate}}</span>
                                        <span class="col-md-2">{{item.Status}}</span>
                                    </td>
                                </tr> 
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-1"></div>
                </form>
            </div>
            <!--<form ng-submit="clear()">
                <md-button class="md-raised md-primary" type="submit" id="clear" value="Submit" style="width: 280px;">Clear</md-button>
            </form>-->
        </div> 
    </div>
</div>

<!-- Scanning form -->
<div ng-include="scanningFormUrl"></div>