<div class="panel panel-default panel-margin">
    <div class="panel-heading">
        <h3 class="panel-title">
            <i class="fa fa-list text-primary"></i> Sales Channel Management &nbsp; &nbsp;
            <span ng-click="addOrderType()" class="glyphicon glyphicon-plus text-primary"></span>
        </h3>
    </div>
    <ul class="nav nav-tabs nav-main" role="tablist">
        <span class="col-md-3" style="width: 100px;"></span>
        <span class="col-md-3" style="width: 300px;">Order Type</span>
        <span class="col-md-3">Maximum Orders per Tote</span>
    </ul>
    <div class="tab-content" style="max-height: 700px; min-height: 700px; overflow: auto">
        <table class="table table-hover">
            <tbody>
                <tr ng-repeat="ot in ordertypes">
                    <td class="table-list-padding">
                        <span class="col-md-3" style="width: 400px;">
                            <span ng-click="deleteOrderType(ot.orderType)"  class="glyphicon glyphicon-trash" style="width: 30px;"></span>
                            <span ng-click="editOrderType(ot)"              class="glyphicon glyphicon-cog" style="width: 45px;"></span> {{ ot.orderType }}
                        </span>
                        <span class="col-md-3">{{ ot.maxOrdersPerTote }}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        <div class="clearfix">
            <div class="pull-right">
                <a class="btn btn-primary" ng-click="addOrderType()">New Order Type</a>
            </div>
        </div>
    </div>
</div>