<div class="container" style="color:blue">
    <div class="page-header">
        <h2>{{paramHeader}}</>
    </div>
</div>
<div class="container" layout="row">
    <md-input-container style="width:250px">
        <label>Stations To Show</label>
        <md-select name="type" ng-model="zone.state" required style="color:blue">
          <md-option value="All" ng-click="show('All')">All</md-option>
          <md-option value="Active" ng-click="show('Active')">Active</md-option>
          <md-option value="Inactive" ng-click="show('Inactive')">Inactive</md-option>
        </md-select>
    </md-input-container>
    <div class="container" style="width: 400px"></div>
    <md-input-container style="width:250px">
        <label>Activate/Deactivate All</label>
        <md-select name="type" ng-model="station.state" required style="color:blue">
          <md-option value="deactivate" ng-click="show('deactivate')">Deactivate All</md-option>
          <md-option value="activate" ng-click="show('activate')">Activate All</md-option>
        </md-select>
    </md-input-container>
</div>
<div class="container">
    <div class="md-whiteframe-z5" layout="column"  style="padding-top: 30px; padding-left: 30px; padding-right: 30px; max-height: 600px; min-height: 165px; overflow: auto; color:blue">
        <table class="table table-hover">
            <thead>
                <tr>
                <th>{{tableHeaders.schuteNumber}}</th>
                <th>{{tableHeaders.stationNumber}}</th>
                <th>{{tableHeaders.stationNumber}}</th>
                <th>{{tableHeaders.activeState}}</th>
                <th>{{tableHeaders.activeState2}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(key, value) in stationParamDisplay | orderBy : 'schuteNumber/1' | groupBy : 'schuteNumber'">
                    <td><span ng-if="key > 0" ><a href id="submitZone" ng-click="updateState(item.stationNumber, item.active)" value="Submit">{{ key }}</a></span></td>
                    <td ng-repeat="item in value"><span ng-if="key > 0" ><a href id="submitZone" ng-click="updateState(item.stationNumber, item.active)" value="Submit">{{ item.stationNumber }}</a></span></td>
                    <td ng-repeat="item in value">
                        <span ng-if="!item.active && key > 0" ><a href id="submitState" ng-click="updateState(item.stationNumber, item.active)" value="Submit"> Inactive </a></span>
                        <span ng-if="item.active && key > 0" ><a href id="submitState" ng-click="updateState(item.stationNumber, item.active)" value="Submit"> Active </a></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

