<!-- beginning of add batch weight modal -->
        <div id="addBatchModal" class="modal fade" role="dialog">
            <div class="modal-dialog" >
                <div class="modal-content" style="width: 100%;height:100%; position: center; margin-left:0%">
                    <div class="modal-header">
                        <a type="button" class="close" href="/addBatch">&times;</a>
                        <h3 class="text-center">{{batchStep}}</h3>
                        

                        <input type="text" name="lblEndRange" id="lblEndRange" disabled="true" hidden="true" style=" color: red;" size="65" >
                    </div>
                    <form action="/addBatch" method="post" enctype="multipart/form-data">
                        <div class="modal-body" style="align-content: center;">
                            <div class="panel-body">
                                
                                <div class="list-group">
                              <table>
                                  <tbody>
                                    <div class="row">
                                        <div class="col-md-5">
                                            Start Range :
                                        </div>  
                                        <!-- <label id="lblStartRange" hidden="true" value="The end value cannot be less than 8 characters long" style="color: red">The start value cannot be less/more than 8 characters long</label> -->
                                         <div class="col-sm-5">
                                           
                                            <input type="text" name="startRange" id="addstartRange"   onkeyup="checkWeightLength()" required  maxlength="8" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57">
                                        </div> 
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-5">
                                            End Range :
                                        </div>   
                                        
                                         <div class="col-sm-5">
                                          
                                            <input type="text" name="endRange" id="addendRange" onkeyup="checkWeightLength()" pattern="\d+" required maxlength="8" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57">
                                        </div> 
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-5">
                                           Weight :
                                        </div> 
                                         <div class="col-sm-5">
                                            <input type="text" name="batchWeight" id="addbatchWeight" onkeyup="checkWeightLength()"  required="true" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57">
                                        </div> 
                                    </div>
                                  </tbody>
                              </table>
                            </div>
                        </div> 
                    </div>
                    <div class="modal-footer">
                       <div class="row">
                            <div class="col-sm-5">
                                <button class="btn btn-success btn-md" id="btnSubmit" disabled = "true" style="height:5%; width: 15%;">Ok</button>
                            </div>
                            <div class="col-sm-5">
                                <a class="btn btn-danger btn-md" href="/addBatch" style="height:5%; width: 15%;" >Cancel</a>
                            </div>      
                      </div>
                    </div>
                </div>
            </form>              
        </div>
    </div>
</div>
<!-- end of add batch weight modal -->



<!-- beginning of delete batch weight modal -->
<div id="deleteBatchModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="text-center">Are you sure you want this record?</h4>
            </div>
            
                <div class="modal-body">
                    <fieldset>
                        <div class="row">
                            <div class="col-md-12">
                                    <div class="col-md-6 text-center">
                                        <a  href="/addBatch" class="btn btn-info btn-md" style="height:5%; width: 15%;" id="sub">No</a>
                                    </div>
                                    <div class="col-md-6 text-center">
                                        <a href= "/deleteBatch?deleteBatch={{recordID}}" class="btn btn-danger btn-md" id="deleteBatch" style="height:5%; width: 15%;">Yes</a>
                                    </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    
                </div>
        
        </div>
    </div>
</div>
<!-- end of delete batch weight modal -->


<!-- beginning of edit batch weight modal -->
<div id="editBatchModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a type="button" class="close" href="/addBatch">&times;</a>
                <h4 class="text-center">Modify Batch</h4>
                <input type="text" name="lblEndRange" id="lblEditEndRange" disabled="true" hidden="true" style=" color: red;" size="65" >
            </div>
            <form class="form" action="/editBatch?recordID={{recordID}}" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <fieldset>
                               <div class="row">
                                        <div class="col-md-5">
                                            Start Range :
                                        </div>  
                                       
                                         <div class="col-sm-5">
                                           
                                            <input type="text" name="startRange" id="editstartRange"  value={{RangeStart}} onkeyup="checkEditWeightLength()" required  maxlength="8" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57">
                                        </div> 
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-5">
                                            End Range :
                                        </div>   
                                        
                                         <div class="col-sm-5">
                                          
                                            <input type="text" name="endRange" id="editendRange" value="{{RangeEnd}}" onkeyup="checkEditWeightLength()" pattern="\d+" required maxlength="8" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57">
                                        </div> 
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-5">
                                           Weight :
                                        </div> 
                                         <div class="col-sm-5">
                                            <input type="text" name="batchWeight" id="editbatchWeight" value="{{batchWeight}}" onkeyup="checkEditWeightLength()"  required="true" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57">
                                        </div> 
                                    </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    
                        <div class="row">
                            <div class="col-md-12">
                                        <button type="submit" class="btn btn-info btn-md" id="Submit" style="height:5%; width: 15%;">Modify</button>
                                
                                    <div class="pull-left">
                                      <a class="btn btn-danger btn-md"  href="/addBatch" style="height:5%; width: 15%;">Cancel</a>
                                    </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- end of edit batch weight modal -->



<!-- Disply main screen for batch weight -->
<div class="wrapper" id="batchProcess" style="display: {{batchWeight}}">
    <header class="header page-head">
        <span class="col-md-12 dash-font-main">CARTON WEIGHT</span>
    </header>
    <div class="flex-container rej-container">
        <div class="flex-item center dash-item-border" id="Station" style="display: {{addBatch}}">
            <div class="rej-content">
                <div class="row row-spacing">
                    <table width="100%" >
                        <thead>
                            <tr>
                              <th>&nbsp;</th> <th>Start Range</th><th>End Range</th><th>Avg. Weight</th><th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                          {{#batchWeight}}
                            <tr>
                             <td>Carton Range</td>
                             <td>{{RangeStart}}</td>
                             <td>{{RangeEnd}}</td>
                             <td>{{batchWeight}}</td>
                             <td>
                                <div class="col-sm-3">
                                    <a id="deleteBatch" style="height:5%; width: 15%;" class="btn btn-danger btn-md" href="/addBatch?deleteBatch={{_id}}">Delete</a>
                                </div>
                                <div class="col-sm-3">
                                    <a id="modifyBatch" style="height:2%; width: 5%;" class="btn btn-primary btn-md"  href="/editBatch?editBatch={{_id}}">Modify</a>
                                </div>
                            </td>
                            
                            </tr>
                          {{/batchWeight}}
                        </tbody>
                        <footer>
                            <tr>
                                <td>
                                    <a id="modifyBatch" style="height:5%; width: 15%;" class="btn btn-success" href="/addBatch?addNewBatch=true ">Add Batch</a>
                                </td>
                            </tr>
                        </footer>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of Display main screen for batch weight -->


<script>



    function checkWeightLength(){
         
             var isValid = false;
            if(!checkEndLength()){
                checkEndLength();
            }else if(!checkStartLength()){
                checkStartLength();
            }else if(!checkWeight()){
                checkWeight();
            }else{
                document.getElementById("btnSubmit").disabled = false;
                lblEndRange.hidden = true;
         }

}
    function checkWeight(){
        var isValid = false;
        var weightValue = document.getElementById("addbatchWeight").value;
        var lblEndRange = document.getElementById("lblEndRange");

        if((weightValue.length <= 0)){
             document.getElementById("btnSubmit").disabled = true;
             lblEndRange.hidden = false;
             lblEndRange.value = "The weight value cannot be less than 0"
        }else{
            lblEndRange.hidden = true;                 
            isValid = true;
        }
        return isValid;

    }   

    function checkStartLength(){
          var startRange = document.getElementById("addstartRange").value;
          var endRange = document.getElementById("addendRange").value;
          var lblEndRange = document.getElementById("lblEndRange");
          var weightValue = document.getElementById("addbatchWeight").value;
          var isValid =  false;
          

            if((startRange.length >= 1) && (startRange.length < 8)){
                document.getElementById("btnSubmit").disabled = true;
                lblEndRange.hidden = false;
                lblEndRange.value = "The start range cannot be less than 8 characters"
            }else if(startRange.length >= 9){
                document.getElementById("btnSubmit").disabled = true;
                lblEndRange.hidden = false;
                lblEndRange.value = "The start range cannot be more than 8 characters"
            }else if((endRange.length == 8) && (startRange.substring(0, 1) != endRange.substring(0, 1))){
                document.getElementById("btnSubmit").disabled = true;
                lblEndRange.hidden = false;
                lblEndRange.value = "The start and the end range are not of the same carton sizes"
            }else if((endRange != 0) && (startRange.length > endRange.length || startRange > endRange )){
                lblEndRange.hidden = false;
                document.getElementById("btnSubmit").disabled = true;
                lblEndRange.value = "The start range cannot be greater than the end range"

            }else if((startRange.length > 1 ) && (startRange < 1)){
                 lblEndRange.hidden = false;
                document.getElementById("btnSubmit").disabled = true;
                lblEndRange.value = "The end range has to be greater than 0"
            }else{
                
                 lblEndRange.hidden = true;                 
                 isValid = true;
                 
            }
            return isValid;

            
    }

    function checkEndLength(){
          var endRange = document.getElementById("addendRange").value;
          var lblEndRange = document.getElementById("lblEndRange");
          var startRange = document.getElementById("addstartRange").value;
          var weightValue = document.getElementById("addbatchWeight").value;
             var isValid =  false;
                //console.log((startRange.length > 1) && (endRange.substring(0, 1) != startRange.substring(0, 1)))
            if((endRange.length >= 1) && (endRange.length < 8)){
                document.getElementById("btnSubmit").disabled = true;
                lblEndRange.hidden = false;
                lblEndRange.value = "The end range cannot be less than 8 characters"
            }else if((endRange != null) && (endRange.length >= 9)){
                document.getElementById("btnSubmit").disabled = true;
                lblEndRange.hidden = false;
                lblEndRange.value = "The end range cannot be more than 8 characters"
            }else if((endRange.length == 8) && (endRange.substring(0, 1) != startRange.substring(0, 1))){
                document.getElementById("btnSubmit").disabled = true;
                lblEndRange.hidden = false;
                lblEndRange.value = "The start and the end range are not of the same carton size"
            }else if(((startRange != 0) && (endRange != 0))&& (startRange.length > endRange.length || startRange > endRange)){
                lblEndRange.hidden = false;
                document.getElementById("btnSubmit").disabled = true;
                lblEndRange.value = "The start range cannot be greater than the end range"

            }else if((endRange.length > 1 ) && (endRange < 1)){
                 lblEndRange.hidden = false;
                document.getElementById("btnSubmit").disabled = true;
                lblEndRange.value = "The end range has to be greater than 0"
            }  else{

                 lblEndRange.hidden = true;
                    isValid = true 

            }

            return isValid;
    }

    function openPriorityModal(){
        
        $("#orderPriorityModal").modal('show');

    }

       function openSuccessUpdateModal(){
        
        $("#updateSuccessModal").modal('show');

    }


{{#updateSuccess}}
    openSuccessUpdateModal();
{{/updateSuccess}}



        /// function checkLength(){

        //     var startRange = document.getElementById("addstartRange").value;
        //     var endRange = document.getElementById("addendRange").value;
        //     var lblEndRange = document.getElementById("lblEndRange");
        //     var lblStartRange = document.getElementById("lblStartRange");
            

        //     if(endRange.length < 8){
                
        //          document.getElementById("btnSubmit").disabled = true;
        //           lblEndRange.hidden = false;
        //     }else if(endRange.length >= 9){
                
        //         document.getElementById("btnSubmit").disabled = true;
        //          lblEndRange.hidden = false;
        //     }else {
        //         document.getElementById("btnSubmit").disabled = false;
        //           lblEndRange.hidden = true;
        //     }

        // }

    function checkEditWeightLength(){
         
             var isValid = false;
            if(!checkEditEndLength()){
                checkEditEndLength();
            }else if(!checkEditStartLength()){
                checkEditStartLength();
            }else if(!checkEditWeight()){
                checkEditWeight();
            }else{
                document.getElementById("Submit").disabled = false;
                lblEndRange.hidden = true;
         }

}

function checkEditWeight(){
        var isValid = false;
        var weightValue = document.getElementById("editbatchWeight").value;
        var lblEndRange = document.getElementById("lblEditEndRange");

        if((weightValue.length <= 0)){
             document.getElementById("Submit").disabled = true;
             lblEndRange.hidden = false;
             lblEndRange.value = "The weight value cannot be less than 0"
        }else{
            lblEndRange.hidden = true;                 
            isValid = true;
        }
        return isValid;

    }  

 function checkEditStartLength(){
          var startRange = document.getElementById("editstartRange").value;
          var endRange = document.getElementById("editendRange").value;
          var lblEndRange = document.getElementById("lblEditEndRange");
          var weightValue = document.getElementById("editbatchWeight").value;
          var isValid =  false;
          

            if((startRange.length >= 1) && (startRange.length < 8)){
                document.getElementById("Submit").disabled = true;
                lblEndRange.hidden = false;
                lblEndRange.value = "The start range cannot be less than 8 characters"
            }else if(startRange.length >= 9){
                document.getElementById("Submit").disabled = true;
                lblEndRange.hidden = false;
                lblEndRange.value = "The start range cannot be more than 8 characters"
            }else if((endRange.length == 8) && (startRange.substring(0, 1) != endRange.substring(0, 1))){
                document.getElementById("Submit").disabled = true;
                lblEndRange.hidden = false;
                lblEndRange.value = "The start and the end range are not of the same carton sizes"
            }else if((endRange != 0) && (startRange.length > endRange.length || startRange > endRange )){
                lblEndRange.hidden = false;
                document.getElementById("Submit").disabled = true;
                lblEndRange.value = "The start range cannot be greater than the end range"

            }else if((startRange.length > 1 ) && (startRange < 1)){
                 lblEndRange.hidden = false;
                document.getElementById("Submit").disabled = true;
                lblEndRange.value = "The end range has to be greater than 0"
            }else{
                
                 lblEndRange.hidden = true;                 
                 isValid = true;
                 
            }
            return isValid;

            
    }


 function checkEditEndLength(){
          var endRange = document.getElementById("editendRange").value;
          var lblEndRange = document.getElementById("lblEditEndRange");
          var startRange = document.getElementById("editstartRange").value;
          var weightValue = document.getElementById("editbatchWeight").value;
             var isValid =  false;
                //console.log((startRange.length > 1) && (endRange.substring(0, 1) != startRange.substring(0, 1)))
            if((endRange.length >= 1) && (endRange.length < 8)){
                document.getElementById("Submit").disabled = true;
                lblEndRange.hidden = false;
                lblEndRange.value = "The end range cannot be less than 8 characters"
            }else if((endRange != null) && (endRange.length >= 9)){
                document.getElementById("Submit").disabled = true;
                lblEndRange.hidden = false;
                lblEndRange.value = "The end range cannot be more than 8 characters"
            }else if((endRange.length == 8) && (endRange.substring(0, 1) != startRange.substring(0, 1))){
                document.getElementById("Submit").disabled = true;
                lblEndRange.hidden = false;
                lblEndRange.value = "The start and the end range are not of the same carton size"
            }else if(((startRange != 0) && (endRange != 0))&& (startRange.length > endRange.length || startRange > endRange)){
                lblEndRange.hidden = false;
                document.getElementById("Submit").disabled = true;
                lblEndRange.value = "The start range cannot be greater than the end range"

            }else if((endRange.length > 1 ) && (endRange < 1)){
                 lblEndRange.hidden = false;
                document.getElementById("Submit").disabled = true;
                lblEndRange.value = "The end range has to be greater than 0"
            }  else{

                 lblEndRange.hidden = true;
                    isValid = true 

            }

            return isValid;
    }


   

        function ShowAddBatchModal(){
            $("#addBatchModal").modal('show');
        }

        {{#ShowAddBatchModal}}
        ShowAddBatchModal();
        {{/ShowAddBatchModal}}

</script>

<script type="text/javascript">

        function ShowDeleteBatchModal(){
            $("#deleteBatchModal").modal('show');
        }
        
        {{#ShowDeleteBatchModal}}
        ShowDeleteBatchModal();
        {{/ShowDeleteBatchModal}}
</script>

<script type="text/javascript">

        function ShowEditBatchModal(){
            $("#editBatchModal").modal('show');
        }
        
        {{#ShowEditBatchModal}}
        ShowEditBatchModal();
        {{/ShowEditBatchModal}}
</script>