<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Connxion</title>
	<script src="/js/jquery-1.12.3.js"></script>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/main.css">
	<script src="/js/bootstrap.min.js"></script>
	<link href="/css/font-awesome.css" rel="stylesheet">
	<link href="css/datatables-bootstrap3.css" rel="stylesheet">
	<link href="/css/dataTables.bootstrap.min.css" rel="stylesheet">
	<link href="/css/responsive.bootstrap.min.css" rel="stylesheet">
	<script src="/js/socket.io-1.4.5.js"></script>

	<style>
	.pdfobject-container { height: 700px;}
	.pdfobject { border: 1px solid #666; }
	</style>
</head>
<body ng-app="connxionApp">
    <div class="header">
        <div class="navbar navbar-default box-shadow" style="margin-bottom: 5px;" role="navigation">
            <div class="container" style="margin-left: 5%; margin-right: 5%; width:90%;">
                <div class="navbar-header">
                    <a href="#"><img class="logo" style="float: left; height: 50px;" src="/images/connxion_wcs.png" alt="Connxion WCS" /></a>
                </div>
                <div class="collapse navbar-collapse" id="js-navbar-collapse">
                    <ul class="nav navbar-nav" id="nav-items">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Operations
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{url}}qcReject">QC Reject Station</a></li>
                                <li><a href="{{url}}courierReject">Courier Reject Station</a></li>
                                <li><a href="{{url}}ptlReject">PTL Reject Station</a></li>
                                <li><a href="{{url}}manifesting">Manifesting</a></li>
                                <li><a href="{{url}}palletHandover">Pallet Handover</a></li>
                                <li><a href="{{url}}nonConveyable">Non Conveyable</a></li>
                                <li><a href="{{url}}putWallManifesting">Put Wall Station</a></li>
                                <li><a href="{{url}}toteInfo">Tote Lookup</a></li>
                                <li><a href="{{url}}orderInfo">Order Lookup</a></li>
                                <li><a href="{{url}}pickListInfo">Pick List Lookup</a></li>
                                <li><a href="/addBatch">Weight Tolerance</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Security
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{url}}userMan">User Management</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Administration
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <!--<li><a href="#/deviceMan">Device Management</a></li>-->
                                <li><a href="{{url}}systemParameter">System Parameters</a></li>
                                <li><a href="{{url}}stationManager">Station Management</a></li>
				                <li><a href="{{url}}trackShipped">Shipped And Dispatched</a></li>
                                <li><a href="{{url}}reprint">Print Documents</a></li>
                                <li><a href="/printtopdf">View Invoice Document</a></li>
                                <li><a href="/orderPriority">Order Prioritising</a></li>
                                <li><a href="{{url}}unpickaTote">Unpick Tote </a></li>
                                <li><a href="{{url}}UnconsolidateOrders">Unconsolidate Tote </a></li>
                                <li><a href="{{url}}CancelledOrders">Cancelled Orders View </a></li>
                                <li><a href="{{url}}WeightAndDimensionUpdate">Update Weight And Dimensions </a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Reports
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{url}}toteTracking">Tote Tracking</a></li>
                                <li><a href="{{url}}conveyorNet">Conveyor Network Dashboard</a></li>
                                <li><a href="{{url}}throughput">Picking Throughput Dashboard</a></li>
                                <li><a href="{{url}}putWallDash">Put-Wall Dashboard</a></li>
                                <li><a href="{{url}}packThroughput">Packing Throughput Dashboard</a></li>
                                <li><a href="{{url}}courierThroughput">Courier Throughput Dashboard</a></li>
                                <li><a href="{{url}}scaleThroughput">Scale Throughput Dashboard</a></li>
                                <li><a href="{{url}}alarmAndEvent">Alarm and Event Viewer</a></li>
                                <li><a href="{{url}}qcRejectView">QC Rejected View</a></li>
                                <li><a href="{{url}}packingErrView">Packing User Error View</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li id="loggedInUser" style="margin-right: 20px; margin-top: 14px;"><i class="fa fa-user fa-fw"></i> {{user}}</li>
                        <li id="_logout" style="display:''; margin-right: 20px;"><a href="{{url}}logout"><i class="fa fa-lock"></i> Logout</a></li>

                        <li><img class="navbar-brand logo" style="padding:0;" src="/images/mtn-logo.jpg" alt="MTN"/></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{{> Packing}}
{{> orderPriority}}
{{> PutWallPacking}}
{{> PrintToPDF}}

    <script>
        $('#_logout').on( "click", function() {
            document.getElementById("_login").style.display = "";
            document.getElementById("_logout").style.display = "none";
            document.getElementById("nav-items").style.display = "none";
        });

		{{#alert}}
		myFunction();
		function myFunction() {
			var result = true;
			while(result){
                result = true;
			    result = alert("{{alertMsg}}");
			}
		}
		{{/alert}}

		{{#prompt}}
		myCFunction();
		function myCFunction() {
			var Value = "";
			while(Value != "c" && Value != "C"){
			    Value = prompt("{{promptMsg}}\n[ Type C to cancel ]", "");
			}
		}
		{{/prompt}}
    </script>

<script src="/js/jquery-1.12.3.js"></script>
<script src="/js/jquery.dataTables.min.js"></script>
<script src="/js/dataTables.bootstrap.min.js"></script>
<script src="/js/dataTables.responsive.min.js"></script>
<script src="/js/responsive.bootstrap.min.js"></script>
<script src="/js/socket.io-1.4.5.js"></script>
<script src="/js/pdfobject.js"></script>
<script>{{showPdf}}PDFObject.embed("{{PdfDoc}}", "#pdfview"); {{showPdfEnd}}</script>
</body>
</html>