<!-- beginning of order priority screen -->
    <div class="flex-container rej-container" id="orderScanContent" style="display: {{orderPriority}}" >
        <div class="wrapper" id="orderPriority" style="display: {{orderPriority}}">
            <header class="header page-head">
                     <span class="col-md-12 dash-font-main">SET PRIORITY</span>
            </header>
        <div class="flex-item center dash-item-border">
            <div class="rej-content">
                <div class="row row-spacing">
                </div>
                <div class="row row-spacing" style="display: ''" id="oderDetailHeading">
                </div>
                <div class="col-md-11.5 carton-details-tab" style="min-height: 145px;">
                    <span style="font-size: 20px;"></span>

                    <table class="table table-hover" id="orderPriorityTable" style="width:100%">
                        <thead>
                            <th>PicklistID</th>
                            <th>OrderID</th>
                            <th>Priority</th>
                            <th>Status</th>
                            <th>Prioritize</th>
                        </thead>
                        <tbody style="text-align: left;">
                            {{#orderPriorityItems}}
                            <tr>
                                <td>{{PicklistID}}</td>
                                <td>{{OrderID}}</td>
                                <td>{{Priority}}</td>
                                <td>{{Status}}</td>
                                 <td> <button type="button" class="btn btn-info" style="width: 5%; height:20%" onclick="window.location = '/orderPriority?selectedPickList={{PicklistID}}'">
                                            Prioritize
                                 </button></td>
                            </tr>
                            {{/orderPriorityItems}}
                        </tbody>
                    </table>
                </div>
               
            </div>
        </div>
    </div>
</div>
<!-- end of order priority screen -->




<!-- beginning of edit order priority modal -->
        <div id="orderPriorityModal" class="modal fade" role="dialog">
            <div class="modal-dialog" >
                <div class="modal-content" style="width: 100%;height:100%; position: center; margin-left:0%">
                    <div class="modal-header">
                        <a type="button" class="close" href="/orderPriority">&times;</a>
                        <h3 class="text-center">Update Priority</h3>
                    </div>
                    <form action="/orderPriority?selectedPickList={{txtPickListID}}" method="post" enctype="multipart/form-data">
                        <div class="modal-body" style="align-content: center;">
                            <div class="panel-body">
                                
                                <div class="list-group">
                              <table>
                                  <tbody>
                                    <div class="row">
                                        <div class="col-md-5">
                                            PickListID :
                                        </div>  
                                       
                                         <div class="col-sm-5">
                                            <input type="text" name="txtPickListID" id="txtPickListID" required disabled="true" value="{{txtPickListID}}">
                                        </div> 
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-5">
                                           OrderID :
                                        </div>   
                                        
                                         <div class="col-sm-5">
                                          
                                            <input type="text" name="txtOrderID" id="txtOrderID" required disabled="true" value="{{txtOrderID}}">
                                        </div> 
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-5">
                                           Previous Priority:
                                        </div> 
                                         <div class="col-sm-5">
                                            <input type="text" name="txtPriorityLevel" id="txtPriorityLevel" disabled="true" required value="{{txtPriorityLevel}}" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57">
                                        </div> 
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-5">
                                           New Priority :
                                        </div> 
                                         <div class="col-sm-5">
                                            <input type="number" name="txtNewPriority" id="txtNewPriority" autofocus="true" min="1" max="10" required>
                                        </div> 
                                    </div>
                                    <br>
                                     <div class="row">
                                        <div class="col-md-5">
                                           Status :
                                        </div> 
                                         <div class="col-sm-5">
                                            <input type="text" name="txtPriorityStatus" id="txtPriorityStatus"  required disabled="true" value="{{txtPriorityStatus}}">
                                        </div> 
                                    </div>
                                  </tbody>
                              </table>
                            </div>
                        </div> 
                    </div>
                    <div class="modal-footer">
                       <div class="row">
                            <div class="col-sm-5">
                                <button class="btn btn-success btn-md" id="btnSubmitPriority"  style="height:5%; width: 15%;">Update</button>
                            </div>
                            <div class="col-sm-5">
                                <a class="btn btn-danger btn-md" href="/orderPriority" style="height:5%; width: 15%;" >Cancel</a>
                            </div>      
                      </div>
                    </div>
                </div>
            </form>              
        </div>
    </div>
</div>
<!-- end of order priority screen -->


<!-- beginning of order priority success modal -->
<div id="updateSuccessModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                
            </div>
            
                <div class="modal-body">
                    <fieldset>
                      <h4 class="text-center">Priority has been successfully updated</h4>
                    </fieldset>
                </div>
                <div class="modal-footer">
                     <a class="btn btn-success btn-md" href="/orderPriority" style="height:5%; width: 15%;" data-dismiss="modal" >Ok</a>
                </div>
        
        </div>
    </div>
</div>
<!-- end of order priority success modal-->



<script type="text/javascript">
     function orderPriorityCal(){
        window.location = "/orderPriority?selecteDate=";
    }


   function openPriorityModal(){
        
        $("#orderPriorityModal").modal('show');

    }

        function openSuccessUpdateModal(){
        
        $("#updateSuccessModal").modal('show');

        }


{{#updateSuccess}}
    openSuccessUpdateModal();
{{/updateSuccess}}



$(document).ready(function() {
    $('#orderPriorityTable').DataTable({ "order": [[ 2, "asc" ]]});
});

{{#openPriorityModal}}
   {{'redirect'}}
    openPriorityModal();
{{/openPriorityModal}}


</script>