<div class="wrapper" id="ToteProcess" style="display: {{ToteProcess}}">
    <header class="header page-head">
        <span class="col-md-12 dash-font-main">MANIFESTING</span>
    </header>
    <div class="flex-container rej-container">
        <div class="flex-item center dash-item-border" id="Station" style="display: {{Station}}">
            <div class="rej-content">
                <div class="row row-spacing">
                    <span class="rej-heading">{{signedInStation}}</span>
                </div>
                <div class="row row-spacing">
                    <span class="rej-text">SCAN TOTE</span>
                </div>
                <div class="row row-spacing">
                	<form action="/scantote" method="post" enctype="multipart/form-data">
                    	<input type="text" class="input-box" id="scannedTote" name="scannedTote" autofocus>
                    </form>
                </div>
            </div>
        </div>
        <div class="flex-item center dash-item-border" id="NoStation" style="display: {{NoStation}}">
            <div class="rej-content">
                <div class="row row-spacing">
                    <span class="rej-heading">MACHINE NOT CONFIGURED FOR PACKING</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrapper" id="PackProcess" style="display: {{PackProcess}}">
    <header class="header page-head">
        <span class="col-md-12 dash-font-main">{{signedInStation}}</span>
    </header>

    <!-- Change carton size modal -->
	<div class="modal fade" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">CHANGE CARTON SIZE</h4>
				</div>
				<form class="form col-md-12 center-block" action="/changecartonsize" method="post" enctype="multipart/form-data">
				<div class="modal-body">
				<fieldset>
					<div class="form-group">
						<div class="input-group">
						  <span class="input-group-addon resize">Select new carton size</span>
						  <select class="form-control" id="cartonsize" name="cartonsize">
						    {{#optitems}}
							<option value={{Size}} {{Selected}}>{{Size}}</option>
							{{/optitems}}
						  </select>
						</div>
					</div>
				</fieldset>
				<button type="button" class="btn btn-default" data-dismiss="modal">CANCEL</button>
				<button type="submit" class="btn btn-primary">CONFIRM</button>
				</div>
				</form>
				<div class="modal-footer">

				</div>
			</div>
		</div>
	</div>

    <!-- View scanned serial items -->
    <div class="modal fade" id="mySerials">
        <div class="modal-dialog">
            <div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">SCANNED SERIAL NUMBERS</h4>
				</div>
                <div class="modal-body">
					<ul class="nav nav-tabs nav-main" style="padding: 0px; border: none; margin: 5px !important;" role="tablist">
						<span class="col-md-8">Product Code</span>
						<span class="col-md-3">Serial</span>
					</ul>
					<table class="table table-hover">
						<tbody>
                        	{{#serItems}}
                            <tr>
                            	<td style="padding: 5px 0px;">
									<span class="col-md-8" style="float: left;">{{prodCode}}</span>
									<span class="col-md-3">{{serial}}</span>
								</td>
                            </tr>
                            {{/serItems}}
						</tbody>
					</table>
                </div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
				</div>
            </div>
        </div>
    </div>

    <div class="flex-container rej-container" id="orderScanContent" style="display: {{orderScanContent}}" >
        <div class="flex-item center dash-item-border">
            <div class="rej-content">
                <div class="row row-spacing">
                    <span class="col-md-8 rej-text" style="display: {{toteDetailHeading}}" id="toteDetailHeading" >{{toteTypeDetailName}} - {{scannedTote}}</span>
                    <span class="col-md-4 rej-text" style="display: {{cartonToUseHeading}}" id="cartonToUseHeading" >USE CARTON SIZE - {{useCartonSize}}</span>
                    <span class="col-md-8 rej-text" style="display: {{scannedCatonIdHeading}}" id="scannedCatonIdHeading" >CARTON - {{scannedCartonIdDisplay}}</span>
                    <span class="col-md-4 rej-text" style="display: {{cartonSizeHeading}}" id="cartonSizeHeading" >CARTON SIZE - {{cartonSizeUsed}}</span>
                </div>
                <div class="row row-spacing" style="display: ''" id="oderDetailHeading">
                    <span class="col-md-8 rej-text">ORDER - {{currentOrderId}}</span>
                    <span class="col-md-4 rej-text">ORDER {{currentOrderInToteProcess}} OF {{totalOrdersInToteToProcess}}</span>
                </div>
                <div class="col-md-8 carton-details-tab" style="min-height: 145px;">
                    <span style="font-size: 20px;">Picked Details</span>
                    <ul class="nav nav-tabs nav-main" style="border-top: 1px solid #ddd;" role="tablist">
                        <span class="col-md-3 font-size: 16px;">Item</span>
                        <span class="col-md-5 font-size: 16px;">Description</span>
                        <span class="col-md-2 font-size: 16px;">Qty</span>
                        <span class="col-md-2 font-size: 16px;">Packed</span>
                    </ul>
                    <table class="table table-hover">
                        <tbody>
                        	{{#items}}
                            <tr>
                                <td style="padding: 5px 0px;">
                                    <span class="col-md-3">{{itemCode}}</span>
                                    <span class="col-md-5">{{itemDescription}}</span>
                                    <span class="col-md-2">{{pickQty}}</span>
                                    <span class="col-md-2">{{qtyPacked}}</span>
                                </td>
                            </tr>
                            {{/items}}
                        </tbody>
                    </table>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3 carton-details-tab" style="min-height: 145px; display: ''" >
                    <div>
                        <span style="font-size: 20px;">{{InputAction}}</span>
                        <br/>
                        {{^ShowIncomingModal}}
                        <form action="/{{endpoint}}" method="post" enctype="multipart/form-data">
							<input type="text" class="input-box" style="width: 150px;" id="{{endpoint}}" name="{{endpoint}}" autofocus>
                    	</form>
                    	{{/ShowIncomingModal}}
                    </div>
                </div>
                <div class="clearfix">
                    <div class="pull-left">
                        <a class="btn btn-primary" style="display: {{btnReset}};" id="btnReset" href="/resettote" role="button">RESET</a>
                        <a class="btn btn-primary" style="display: {{btnReprint}};" id="btnRePrint" href="/reprint" role="button">RE-PRINT LABELS</a>
                        <a class="btn btn-primary" style="display: {{btnChangeCarton}};" id="btnCartonSize" data-toggle="modal" data-target="#myModal" role="button">CHANGE CARTON SIZE</a>
                        <a class="btn btn-primary" style="display: {{btnViewSerials}};" id="btnScannedSerials" data-toggle="modal" data-target="#mySerials" role="button">VIEW SCANNED SERIALS</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="SupOverrideModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<form name="form" action="/{{supendpoint}}" method="post" enctype="multipart/form-data">
				<div class="modal-header">
					<div align="center"><h5 class="modal-title">Supervisor Override</h5></div>
				</div>
				<div class="modal-body">
					<div align="center">
						<label><b style="color:red;">{{UserMsg}}</label>
						<br />
					</div>
					{{#SuperMsg}}
					<div align="center">
						<label><b style="color:blue;">{{SuperMsg}}</label>
						<br />
					</div>
					{{/SuperMsg}}
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-addon resize" id="login-username">Username</div>
							<input type="text" class="form-control input-box" placeholder="username" name="uid" required autofocus/>
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-addon resize" id="login-password">Password</div>
							<input type="password" class="form-control input-box" placeholder="password" name="psw" required/>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div class="clearfix">
						<div class="pull-right">
							<button class="btn btn-success" id="login-btn">
								<i class="fa fa-lock"></i> Override
							</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<script type="text/javascript">
	{{#ShowIncomingModal}}ShowIncomingModal();
	function ShowIncomingModal(){
		$("#SupOverrideModal").modal({
			backdrop: 'static',
			keyboard: false
		});
	}
	{{/ShowIncomingModal}}
</script>










