<div class="wrapper" id="pdfprnCont" style="display: ''">
    <header class="header page-head">
        <span class="col-md-12 dash-font-main">PRINT TO PDF</span>
    </header>
    <div class="flex-container rej-container" style="display: {{PrivUser}}" >
        <div class="flex-item center dash-item-border">
			<div class="rej-content" id="pdfprnQuery" style="min-height: 145px; display: ''" >
				<div>
					<span style="font-size: 20px; color: green">Enter OrderID</span>
					<br/>
					<form action="/printtopdf" method="post" enctype="multipart/form-data">
						<input type="text" class="input-box" style="width: 150px;" id="orderID" name="orderID" autofocus>
					</form>
				</div>
				<br/>
				<br/>
				<div id="pdfview" style="display: {{dispdfview}}"></div>
				<div id="overlay" style="display: {{disploading}}">
					<form action="/checkloaded?id={{pdfFile}}" name="load" method="post" enctype="multipart/form-data">
						<img src="ajax-loader.gif" alt="Be patient..." />
					</form>
				</div>
			</div>
        </div>
    </div>
    <div class="flex-container rej-container">
		<div class="flex-item center dash-item-border" style="display: {{NoPrivUser}}">
			<div class="rej-content">
				<div class="row row-spacing">
					<span class="rej-heading">USER DOES NOT HAVE ACCESS TO USE THIS FUNCTION</span>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	{{CheckDocLoadedStart}}
	CheckDocLoaded();
	function CheckDocLoaded() {
		var wait=setTimeout("document.load.submit();",1000);
	}
	{{CheckDocLoadedEnd}}
</script>
