<div class="wrapper" id="PackProcess" style="display: {{PackProcess}}">
    <header class="header page-head">
        <span class="col-md-12 dash-font-main">{{signedInStation}}</span>
    </header>
    <div class="flex-container rej-container" id="orderScanContent" style="display: ''" >
        <div class="flex-item center dash-item-border">
                <div class="rej-content" style="min-height: 145px; display: {{ScanMode}}" id="scanBarcode" >
                    <div>
                        <span style="font-size: 20px; color: green">{{InputAction}}</span>
                        <br/>
                        {{^ShowIncomingModal}}
                        <form action="/{{endpoint}}" method="post" enctype="multipart/form-data">
							<input type="text" class="input-box" style="width: 150px;" id="{{endpoint}}" name="{{endpoint}}" autofocus>
                    	</form>
                    	{{/ShowIncomingModal}}
                    </div>
                 <br/>
               <div class="clearfix">
                  <a class="btn btn-primary" style="display: {{btnPwReset}}" id="btnPwReset" href="/resetpwtote" role="button">RESET</a>
                </div>

                </div>
               <div class="rej-content" style="min-height: 145px; display: {{PwInstruction}};" id="instruction" >
               		{{^ShowIncomingModal}}
              		<form action="/{{clcendpoint}}" name="main" method="post" enctype="multipart/form-data">
						<div>
							<span style="font-size: 20px;">{{instruction}}</span>
						</div>
					</form>
					{{/ShowIncomingModal}}
                </div>
            </div>
        </div>
    </div>
</div>

<div id="SupOverrideModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<form name="form" action="/{{supendpoint}}" method="post" enctype="multipart/form-data">
				<div class="modal-header">
					<div align="center"><h5 class="modal-title">Supervisor Override</h5></div>
				</div>
				<div class="modal-body">
					<div align="center">
						<label><b style="color:red;">{{UserMsg}}</label>
						<br />
					</div>
					{{#SuperMsg}}
					<div align="center">
						<label><b style="color:blue;">{{SuperMsg}}</label>
						<br />
					</div>
					{{/SuperMsg}}
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-addon resize" id="login-username">Username</div>
							<input type="text" class="form-control input-box" placeholder="username" name="uid" required autofocus/>
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-addon resize" id="login-password">Password</div>
							<input type="password" class="form-control input-box" placeholder="password" name="psw" required/>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div class="clearfix">
						<div class="pull-right">
							<button class="btn btn-success" id="login-btn">
								<i class="fa fa-lock"></i> Override
							</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<script>
	{{#ShowIncomingModal}}ShowIncomingModal();
	function ShowIncomingModal(){
		$("#SupOverrideModal").modal({
			backdrop: 'static',
			keyboard: false
		});
	}
	{{/ShowIncomingModal}}

	{{CheckConfimation}}
	function CheckLocConfirmed() {
	    var wait=setTimeout('document.main.submit();',500);
	}
</script>