<div class="wrapper">
    <header class="header page-head">
        <span class="col-md-12 dash-font-main">{{header}}</span>
    </header>

    <div class="row">
        <!-- ======================== PICKING THROUGHPUT DASHBOARD ================================== -->
        <div class="col-md-11" style="padding-left: 150px;">
            <!--<label style="font-size: x-large">Alarm And Event Viewer</label>-->
            <div class="md-whiteframe-z1" layout="row"  style="padding-top: 30px; padding-left: 30px; padding-right: 30px; max-height: 500px; min-height: 500px; overflow: auto">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Alarms</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in zoneParamDisplay" ng-click="displayError(item.commm)">
                            <td class="text-left">
                                <span ng-if="item.isDisabled" class="label label-danger "> Error </span> &nbsp; <span ng-if="item.isDisabled">{{ item.commm }}</span>
                                <span ng-if="!item.isDisabled" class="label label-success "> OK </span> &nbsp; <span ng-if="!item.isDisabled">{{ item.commm }}</span>
                                <div ng-if="item.commm == 'Communications issues between WCS and a sub-system is not operational.'" ng-hide="hideValue" class="container" style="transition:all linear 0.5s;">
                                    <div class="content">
                                        <ul ng-repeat="ErrirItem in commError">
                                            <li>{{ErrirItem.Date}}</li>
                                        </ul>
                                    </div>
                                </div>
                                <div ng-if="item.commm == 'Reject Station - Picking and Weight Scale fails.'" ng-hide="hideRejectedQC" class="container" style="transition:all linear 0.5s;">
                                    <div class="content">
                                        <ul ng-repeat="ErrirItem in rejectedQCError">
                                            <li>{{ErrirItem.reason}}</li>
                                        </ul>
                                    </div>
                                </div>
                                <div ng-if="item.commm == 'Failed user logins.'" ng-hide="hideFailedLogin" class="container" style="transition:all linear 0.5s;">
                                    <div class="content">
                                        <ul ng-repeat="ErrirItem in failedLogin">
                                            <li>{{ErrirItem.name}}</li>
                                        </ul>
                                    </div>
                                </div>
                                <div ng-if="item.commm == 'Courier weight check failure.'" ng-hide="hideWeightCheck" class="container" style="transition:all linear 0.5s;">
                                    <div class="content">
                                        <ul ng-repeat="ErrirItem in failedCourierWeight">
                                            <li>{{ErrirItem.cartonID}}</li>
                                        </ul>
                                    </div>
                                </div>
                                <div ng-if="item.commm == 'Picker not logging in.'" ng-hide="hidePTLNotLoggedIn" class="container" style="transition:all linear 0.5s;">
                                    <div class="content">
                                        <ul ng-repeat="ErrirItem in PTLNotLogged">
                                            <li>Pick-To-Light Zone ID: {{ErrirItem.ptlZoneID}}</li>
                                        </ul>
                                    </div>
                                </div>
                                <div ng-if="item.commm == 'Picker not releasing tote at Pick station.'" ng-hide="hidePickerNotReleasing" class="container" style="transition:all linear 0.5s;">
                                    <div class="content">
                                        <ul ng-repeat="ErrirItem in PickerNotReleasing">
                                            <li>Pick-To-Light Zone ID: {{ErrirItem.ptlZoneID}}</li>
                                        </ul>
                                    </div>
                                </div>
                                <div ng-if="item.commm == 'Packer not packing tote within x time.'" ng-hide="hidePickerNotPacking" class="container" style="transition:all linear 0.5s;">
                                        <div class="content">
                                            <ul ng-repeat="ErrirItem in PickerNotPacking">
                                                <li>Pick-To-Light Zone ID: {{ErrirItem.ptlZoneID}}</li>
                                            </ul>
                                        </div>
                                    </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>