<div class="wrapper">
    <header class="header page-head">
        <span class="col-md-12 dash-font-main">{{header}}</span>
    </header>

    <div class="row">
        <!-- ======================== PICK TO ZONE BUFFERS ================================== -->
        <div class="col-md-3" style="padding-left: 150px;">
            <label style="font-size: x-large">Pick-To-Zone Buffers</label>
            <div class="md-whiteframe-z1" layout="column"  style="padding-top: 30px; padding-left: 30px; padding-right: 30px; max-height: 370px; min-height: 370px; overflow: auto">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>{{tableHeader.zoneID}}</th>
                        <th>{{tableHeader.numTote}}</th>
                        <!--<th>{{tableHeader.totes}}</th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in zoneParamDisplay | orderBy : 'ZoneID/1'">
                        <td><a href id="submitZone" ng-click="getPTZNumTotes(item.ZoneID)" value="Submit">{{ item.ZoneID }}</a></td>
                        <td><a href id="submitNumTote" ng-click="getPTZNumTotes(item.ZoneID)" value="Submit">{{ item.NumTotes }}</a></td>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- ======================== TOTALS GRAPH - "THE GRAPH"  ================================== -->
        <div class="col-md-6">
            <label style="font-size: x-large">Totals</label>
            <div class="md-whiteframe-z1" layout="column"  style="padding-top: 30px; padding-left: 30px; padding-right: 30px; max-height: 370px; min-height: 370px; overflow: auto">
                <div class="content" style="width:100%;">
                    <canvas class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-click="onClick"></canvas>
                </div>
            </div>
        </div>

        <!-- ======================== Packing Chutes ================================== -->
        <div class="col-md-2">
            <label style="font-size: x-large">Packing Chutes</label>
            <div class="md-whiteframe-z1" layout="column"  style="padding-top: 30px; padding-left: 30px; padding-right: 30px; max-height: 370px; min-height: 370px; overflow: auto">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>{{tableHeader.chuteID}}</th>
                        <th>{{tableHeader.numTote}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in chuteDisplay | orderBy : 'ZoneID/1'">
                        <td><a href id="submitChuteTote" ng-click="totesInChute(item.ZoneID)" value="Submit">{{ item.ZoneID }}</a></td>
                        <td><a href id="submitChuteTime" ng-click="totesInChute(item.ZoneID)" value="Submit">{{ item.numTotes }}</a></td>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- ===================================================SECOND HAFLF ================================================= -->
        <!-- ===================================================SECOND HAFLF ================================================= -->
        <!-- ===================================================SECOND HAFLF ================================================= -->

        <!-- ======================== QC REJECT SPUR ================================== -->
        <div class="col-md-3" style="padding-left: 150px; padding-top: 20px;">
            <label style="font-size: x-large">QC Reject Spur</label>
            <div class="md-whiteframe-z1" layout="column"  style="padding-top: 30px; padding-left: 30px; padding-right: 30px; max-height: 300px; min-height: 300px; overflow: auto">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>{{tableHeader.container}}</th>
                        <th>{{tableHeader.time}}</th>
                        <!--<th>{{tableHeader.totes}}</th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in qcRejectedDisplay | orderBy : 'dateRejected/1'">
                        <!--<td><a href id="submitCourier" ng-click="goToZone(item.ZoneID)" value="Submit">{{ item.transporterID }}</a></td>-->
                        <td>
                            <span ng-if="item.transporterID !== ''" ><a href id="submitQCTran" ng-click="viewCarton(item.transporterID)" value="Submit">{{ item.transporterID }}</a></span>
                            <span ng-if="item.cartonID !== ''" ><a href id="submitQCCart" ng-click="viewCarton(item.transporterID)" value="Submit">{{ item.cartonID }}</a></span>
                        </td>
                        <td><a href id="submitTimeCourier" ng-click="goToZone(item.ZoneID)" value="Submit">{{ item.dateRejected }}</a></td>
                        <!--<td><a href id="submitTote" ng-click="goToZone(item.ZoneID)" value="Submit">{{ item.mode }}</a></td>-->
                    </tbody>
                </table>
            </div>
        </div>

        <!-- ======================== PICK TO LIGHT REJECT SPUR ================================== -->
        <div class="col-md-6" style="padding-top: 20px;">
            <label style="font-size: x-large">Pick-To-Light Reject Spur</label>
            <div class="md-whiteframe-z1" layout="column"  style="padding-top: 30px; padding-left: 30px; padding-right: 30px; max-height: 300px; min-height: 300px; overflow: auto">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>{{tableHeader.tID}}</th>
                        <th>{{tableHeader.reason}}</th>
                        <th>{{tableHeader.time}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in ptlRejectDisplay | orderBy : 'Time/1'">
                        <td><a href id="submitTote" ng-click="showToteInfo(item.ToteID)" value="Submit">{{ item.ToteID }}</a></td>
                        <td><a href id="submitReason" ng-click="showToteInfo(item.ToteID)" value="Submit">{{ item.Reason }}</a></td>
                        <td><a href id="submitTime" ng-click="showToteInfo(item.ToteID)" value="Submit">{{ item.Time }}</a></td>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- ======================== Courier Reject ================================== -->
        <div class="col-md-2" style="padding-top: 20px;">
            <label style="font-size: x-large">Courier Reject Spur</label>
            <div class="md-whiteframe-z1" layout="column"  style="padding-top: 30px; padding-left: 30px; padding-right: 30px; max-height: 300px; min-height: 300px; overflow: auto">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>{{tableHeader.container}}</th>
                        <th>{{tableHeader.time}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in courierRejectedDisplay | orderBy : 'Time/1'">
                        <td><a href id="submitCourierTote" ng-click="getCourierCarton(item.CartonId)" value="Submit">{{ item.CartonId }}</a></td>
                        <td><a href id="submitCourierTime" ng-click="getCourierCarton(item.CartonId)" value="Submit">{{ item.Time }}</a></td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
