<div class="wrapper">
    <header class="header page-head">
        <span class="col-md-12 dash-font-main">{{header}}</span>
    </header>

    <div class="row">
        <!-- ======================== PICKING THROUGHPUT DASHBOARD ================================== -->
        <div class="col-md-11" style="padding-left: 100px;">
            <label style="font-size: x-large">Courier Throughput</label>
            <div class="md-whiteframe" layout="column"  style="padding-top: 30px; padding-left: 30px; padding-right: 30px; max-height: 370px; min-height: 370px; overflow: auto">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>{{tableHeader.zoneID}}</th>
                        <th>{{tableHeader.morning0}}</th>
                        <th>{{tableHeader.morning1}}</th>
                        <th>{{tableHeader.morning2}}</th>
                        <th>{{tableHeader.morning3}}</th>
                        <th>{{tableHeader.morning4}}</th>
                        <th>{{tableHeader.morning5}}</th>
                        <th>{{tableHeader.morning6}}</th>
                        <th>{{tableHeader.morning7}}</th>
                        <th>{{tableHeader.morning8}}</th>
                        <th>{{tableHeader.morning9}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in zoneParamDisplay | orderBy : 'ZoneID/1'">
                        <td><a href id="submitZone" ng-click="getPTZNumTotes(item.ZoneID)" value="Submit">{{ item.ZoneID }}</a></td>
                        <td ng-repeat="numTotes in item.NumTotes">
                                {{ numTotes.totals }}
                        </td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
