<div class="wrapper">
    <header class="header page-head">
        <span class="col-md-12 dash-font-main">LIVE TOTE TRACKING</span>
    </header>
    
    <div class="col-md-12 chart-container">
        <fusioncharts id="mychartcontainer" chartid="angularChart" width="100%"  height="500" type="column2d" dataSource="{{dataSource}}" events="events"></fusioncharts>
    </div>

    <div class="constainer">
        <label>Courier Hatch no read scans: {{ noRead }}</label>
    </div>
</div>

<!-- Status page -->
<div ng-include="toteStatusPageUrl"></div>
