<div class="wrapper" style="height: 600px;">
    <header class="header" style="background-color: #006c92; color: #fdca03; border: 1px solid transparent; border-radius: 5px; padding: 15px; margin: 0 15px;">
        <span class="dash-font-main" style="background-color: #006c92; color: #fdca03; border: 1px solid transparent; border-radius: 5px;">LIVE Tote Tracking</span>
    </header>
    <div class="flex-container">
        <div class="flex-item center dash-item-border">
            <div grid-data grid-options="picklists" grid-actions="gridActions" style="margin: 5px 0px;">
                <span 
                    style="font-size: 24px; margin: 5px; background-color: #006c92; color: #fff; border: 1px solid transparent; border-radius: 5px; padding: 5px;">
                    Picklist per Status: {{pickStatus}}
                </span>
                <span 
                    style="float: right; font-size: 24px; margin: 5px; background-color: #006c92; color: #fff; border: 1px solid transparent; border-radius: 5px; padding: 5px;"
                    align="right">{{pickListTotal}} Picklists
                </span>
                <table class="table" style="margin-top: 10px;">
                    <thead>
                        <tr style="background-color: #006c92; color: #fff;">
                            <th sortable="pickListID" class="sortable col-md-2">
                                Picklist
                            </th>
                            <th sortable="orderID" class="sortable col-md-6">
                                Tote Content
                            </th>
                            <th sortable="toteID" class="sortable col-md-2">
                                Tote
                            </th>
                            <th class="col-md-2"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr grid-item id="{{ 'picklist-' + item.pickListID }}" class="" style="background-color: #fdca03;" >
                            <td class="col-md-2" align="left" ng-bind="item.pickListID"></td>
                            <td class="col-md-6" id="{{ 'detailHide-' +  item.pickListID }}" align="left">Order: {{item.orderID}}</td>
                            <td class="col-md-6" id="{{ 'detail-' +  item.pickListID }}" style="display:none;">
                                <table style="width:100%;">
                                    <thead>
                                        <tr>
                                            <th>Order: {{item.orderID}}</th>
                                        </tr>
                                        <tr style="background-color: #006c92; color: #fff; border: 1px solid black;">
                                            <th class="col-md-3">
                                                Item Code
                                            </th>
                                            <th class="col-md-7">
                                                Description
                                            </th>
                                            <th class="col-md-2">
                                                QTY
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody style="border: 1px solid black;">
                                        <tr ng-repeat="item in item.items">
                                            <td class="col-md-3" ng-bind="item.itemCode" align="left"></td>
                                            <td class="col-md-7" ng-bind="item.itemDescription" align="left"></td>
                                            <td class="col-md-2" ng-bind="item.pickQty" align="left"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td class="col-md-2" align="left" ng-bind="item.toteID"></td>
                            <td class="col-md-2">
                                <button 
                                    class="glyphicon glyphicon-chevron-down" style="cursor: pointer; border: none; background-color: transparent;" 
                                    id="{{ 'btn-' +  item.pickListID }}" 
                                    ng-click="showDetail(item.pickListID)">
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <form class="form-inline margin-bottom-basic">
                    <div class="form-group">
                        <grid-pagination max-size="5"
                                        boundary-links="true"
                                        class="pagination-sm"
                                        total-items="paginationOptions.totalItems"
                                        ng-model="paginationOptions.currentPage"
                                        ng-change="reloadGrid()"
                                        items-per-page="paginationOptions.itemsPerPage"></grid-pagination>
                    </div>
                    <div class="form-group items-per-page">
                        <label for="itemsOnPageSelect2">Items:</label>
                        <select id="itemsOnPageSelect2" class="form-control input-sm" ng-init="paginationOptions.itemsPerPage = '10'"
                                ng-model="paginationOptions.itemsPerPage" ng-change="reloadGrid()">
                            <option>10</option>
                            <option>25</option>
                            <option>50</option>
                            <option>75</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
