<div class="wrapper" ng-show="NotAuth">
    <header class="header page-head">
        <div class="flex-item center dash-item-border">
        	<span class="col-md-12 dash-font-main">WEIGHT AND DIMENSION UPDATE</span>
        </div>
    </header>
    <div class="flex-container rej-container">
		<div class="flex-item center dash-item-border">
			<div class="rej-content">
				<div class="row row-spacing">
					<span class="rej-heading">USER NOT AUTHORISED</span>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="wrapper" ng-show="ScanProd">
    <header class="header page-head">
        <div class="flex-item center dash-item-border">
        	<span class="col-md-12 dash-font-main">WEIGHT AND DIMENSION UPDATE</span>
        </div>
    </header>
    <div class="flex-container rej-container">
        <div class="flex-item center dash-item-border">
            <div class="rej-content">
                <div class="row row-spacing">
                    <span class="rej-heading">Scan Product Code</span>
                </div>
                <div class="row row-spacing">
                    <input type="text" class="input-box" id="scanProduct" ng-keyup="$event.keyCode == 13 ? getProduct(product) : null" ng-model="product" focus-me="ScanProd" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper" ng-show="PrdDet">
    <header class="header page-head">
        <div class="flex-item center dash-item-border">
        	<span class="col-md-12 dash-font-main">WEIGHT AND DIMENSION UPDATE</span>
        </div>
    </header>
    <div class="flex-container rej-container" >
		<div class="flex-item center dash-item-border">
			<div class="rej-content">
				<div class="col-md-16" style="min-height: 145px;">
					<div align="center">
						<label style="font-size: 24px;"><b style="color:blue;">Product Code: </b> &nbsp{{ Sku }}</label>
						<br />
					</div>
					<div align="center">
						<label style="font-size: 24px;"><b style="color:blue;">Description: </b> &nbsp{{ SkuDesc }}</label>
						<br />
					</div>
					<br />
					<br />
					<div align="center">
						<label style="color:red; font-size: 24px;">Select Unit Of Measure</label><br />
						<div class="col-md-4">&nbsp</div>
						<div class="col-md-4">
							<select name="UOM" id="UOM" class="form-control" aria-describedby="group-type"
								ng-options="uom.Uom for uom in UOMs"
								ng-model="UOM"
								ng-change="selectedUomChanged(UOM)">
							</select>
						</div>
						<div class="col-md-4">&nbsp</div>
						<br />
						<br />
					</div>
				</div>
				<div class="row row-spacing">
					<button class="btn btn-primary" ng-click="CancelProcess()">Cancel</button>
					<button class="btn btn-primary" ng-click="SelectUom()">Select</button>
				</div>
			</div>
		</div>
    </div>
</div>

<div class="wrapper" ng-show="PrdUp">
    <header class="header page-head">
        <div class="flex-item center dash-item-border">
        	<span class="col-md-12 dash-font-main">WEIGHT AND DIMENSION UPDATE</span>
        </div>
    </header>
    <div class="flex-container rej-container">
		<div class="flex-item center dash-item-border">
			<div class="rej-content">
				<div class="col-md-16" style="min-height: 145px;">
					<div align="center">
						<label style="font-size: 24px;"><b style="color:blue;">Product Code: </b> &nbsp{{ Sku }}</label>
						<br />
					</div>
					<div align="center">
						<label style="font-size: 24px;"><b style="color:blue;">Description: </b> &nbsp{{ SkuDesc }}</label>
						<br />
					</div>
					<div align="center">
						<label style="font-size: 24px;"><b style="color:blue;">Unit Of Measure: </b> &nbsp{{ MyUom }}</label>
						<br />
					</div>
					<br />
					<br />
					<div align="center">
						<div class="col-md-3"></div>
						<div class="col-md-3">
							<label style="color:red; font-size: 24px;">Weight Update(grams)</label><br />
							<input type="text" ng-model="mWeight" ng-value="Weight"/>
						</div>
						<div class="col-md-3">
							<label style="color:red; font-size: 24px;">Dimension Update(mm)</label><br />
							<label style="color:red; font-size: 16px;">Height &nbsp</label><input type="text" ng-model="mHeight" ng-value="Height"/><br />
							<label style="color:red; font-size: 16px;">Length &nbsp</label><input type="text" ng-model="mLength" ng-value="Length"/><br />
							<label style="color:red; font-size: 16px;">Width &nbsp</label><input type="text" ng-model="mWidth" ng-value="Width"/><br />
						</div>
						<div class="col-md-7"></div>
					</div>
				</div>
				<br />
				<div class="row row-spacing">&nbsp</div>
				<br />
				<div align="row row-spacing">
					<button class="btn btn-primary" ng-click="CancelProcess()">Cancel</button>
					<button class="btn btn-primary" ng-click="UpdateUom(mWeight, mHeight, mLength, mWidth)">Update</button>
				</div>
			</div>
		</div>
    </div>
</div>