<div class="row">
<!--<div class="row" data-ng-init="checkCookies()">-->
  	<div class="col-md-4"></div>
	<div class="col-md-4">
		<form name="form">
			<div class="form-group">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title"><i class="fa fa-lock text-primary"></i> Secure Login</h3>
					</div>
					<div class="panel-body">
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon resize" id="login-username">Username</div>
								<input type="text" class="form-control input-box" placeholder="username" name="name" ng-model="userName"  required/>
							</div>
						</div>
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon resize" id="login-password">Password</div>
								<input type="password" class="form-control input-box" placeholder="password" name="password" ng-model="userPassword" required/>
							</div>
						</div>
					</div>
					<div class="panel-footer">
						<div class="clearfix">
							<div class="pull-right">
								<button ng-click="logInStation()" class="btn btn-success" id="login-btn">
									<i class="fa fa-lock"></i> Login
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="col-md-4"></div>
</div>
