<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <form name="form" #f="ngForm">
      <div class="form-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-lock-open text-primary"></i> Secure Login</h3>
        </div>
        <div class="panel-body">
          You have been successfully logged out, <a href="#/login">click here</a> to login.
        </div>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-4"></div>
</div>
