<div class="wrapper">
    <header class="header page-head">
        <span class="col-md-12 dash-font-main">PUT-WALL STATION {{signedInStation}}</span>
    </header>
    <div class="flex-container rej-container" id="orderScanContent" style="display: ''">
        <div class="flex-item center dash-item-border">
            <div class="rej-content">
                <div class="row row-spacing">
                    <span class="rej-heading">PUT-WALL STATION {{signedInStation}}</span>
                </div>
                <div class="row row-spacing" style="display: ''; float:left; margin-left:25%;" id="toteDetailHeading">
                    <span class="col-md-12 rej-text" style="display: '';" id="diplayToteText">
                        <span class="col-md-3" style="text-align: left;">TOTE: </span>
                        <span class="col-md-9" style="text-align: left;" ng-bind="currentToteInProgress"></span>
                    </span>
                    <span class="col-md-12 rej-text" style="display: none;" id="displayItemText">
                        <span class="col-md-3" style="text-align: left;">ITEM: </span>
                        <span class="col-md-9" style="text-align: left;" ng-bind="scannedItemDesc"></span>
                    </span>
                    <span class="col-md-12 rej-text" style="display: none;" id="displaySerialText">
                        <span class="col-md-3" style="text-align: left;">SERIAL: </span>
                        <span class="col-md-9" style="text-align: left;" ng-bind="scannedItemSerial"></span>
                    </span>
                    <span class="col-md-12 rej-text" style="display: none;" id="displayOrderIdText">
                        <span class="col-md-3" style="text-align: left;">ORDER: </span>
                        <span class="col-md-9" style="text-align: left;" ng-bind="currentOrderInProgress"></span>
                    </span>
                </div>
                <div class="col-md-12" style="min-height: 200px;">
                    <div id="scanItemScreen" style="display:'';">
                        <div>
                            <span style="font-size: 20px;">SCAN ITEM</span>
                            <br/>
                            <input type="text" class="input-box" style="min-width: 150px;" id="itemScan" ng-keyup="$event.keyCode == 13 ? getScannedItem(scannedItem) : null" ng-model="scannedItem" autofocus/>
                        </div>
                    </div>
                    <div id="scanDocumentScreen" style="display:none;">
                        <div>
                            <span style="font-size: 20px;">SCAN DOCUMENT BARCODE</span>
                            <br/>
                            <input type="text" class="input-box" style="min-width: 150px;" id="documentScan" ng-keyup="$event.keyCode == 13 ? getScannedDocument(documentScan) : null" ng-model="documentScan" autofocus/>
                        </div>
                    </div>
                    <div id="putWallPlacingText" style="display:none;">
                        <br/>
                        <span class="rej-heading">
                            Place In Put-Wall shelf {{pulWallShelfPlacing}} as directed and confirm
                        </span>
                    </div>
                    <div id="documentPlacingText" style="display:none;">
                        <br/>
                        <span class="rej-heading">
                            Place Document In Put-Wall shelf {{pulWallShelfPlacing}} as directed and confirm
                        </span>
                    </div>
                </div>
                <div class="clearfix" style="margin-left: 25%;">
                    <div class="pull-left">
                        <button class="btn btn-primary" style="display: '';" id="btnReset" ng-click="resetTote()">RESET</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        setFocus();
        function setFocus() {
            var itemScanScreenInput = document.getElementById('itemScan')
            if (itemScanScreenInput) {
                itemScanScreenInput.focus()
            }
        }
    </script>
</div>