<div class="wrapper" ng-hide="scanningMode">
    <header class="header page-head">
        <span class="col-md-12 dash-font-main">AUTOBAG STATION</span>
    </header>
    <div class="flex-container rej-container">
        <div class="flex-item center dash-item-border">
            <div class="rej-content">
                <div class="row row-spacing">
                    <span class="rej-heading">PUT-WALL STATION {{signedInStation}}</span>
                </div>
                <div class="row row-spacing">
                    <span class="rej-text">SCAN TOTE</span>
                </div>
                <div class="row row-spacing">
                    <input type="text" class="input-box" id="scannedTote" ng-keyup="$event.keyCode == 13 ? getToteId(toteId) : null" ng-model="toteId" autofocus />
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Scanning put wall form -->
<div ng-include="scanningPutWallFormUrl"></div>