<div class="wrapper">
    <header class="header page-head">
        <span class="col-md-12 dash-font-main">QC REJECTED</span>
    </header>
    <div class="flex-container rej-container">
        <div class="flex-item center dash-item-border">
            <div class="rej-content">
                <div class="row row-spacing">
                    <span class="rej-heading">QC STATION</span>
                </div>
                <div class="row row-spacing" style="display: ''" id="oderDetailHeading">
                    <span class="col-md-8 rej-text">TRANSPORTER - {{currentTransporterId}}</span>
                    <span class="col-md-4 rej-text">CARTON {{currentCartonInToteProcess}} OF {{totalCartonsInTransporter}}</span>
                </div>
                <div class="row row-spacing">
                    <span class="rej-text">SCAN CARTON</span>
                </div>
                <div class="row row-spacing">
                    <input type="text" class="input-box" id="itemInTransporter"
                        ng-keyup="$event.keyCode == 13 ? getScannedItemFromTransporter(scannedItemInTransporter) : null"
                        ng-model="scannedItemInTransporter" autofocus />
                </div>
                <div class="row row-spacing">
                    <span class="rej-text" id="placeOnWeighScale" style="display:none;">PLACE ON WEIGH SCALE</span>
                </div>
                <div class="row row-spacing">
                    <input type="text" class="input-box" id="showWeightInput"
                        ng-keyup="$event.keyCode == 13 ? weightFromScale(receivedWeight) : null"
                        ng-model="receivedWeight"
                        placeholder="Carton weight"
                        style="display:none" />
                </div>
                <div class="row row-spacing">
                    <span class="rej-text" id="cartonCanBeShipped" style="display:none;">ITEM WEIGHT PASSED, PLACE BACK IN TRANSPORTER</span>
                </div>
                <div class="clearfix">
                    <div class="pull-left">
                        <button class="btn btn-primary" ng-click="resetCarton()">RESET</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        setFocus();
        function setFocus() {
            var itemInTransporter = document.getElementById('itemInTransporter')
            if (itemInTransporter) {
                itemInTransporter.focus()
            }
        }
    </script>
</div>