<div class="wrapper">
    <header class="header page-head">
        <span class="col-md-12 dash-font-main">QC REJECT STATION</span>
    </header>
    <div class="flex-container rej-container">
        <div class="flex-item center dash-item-border">
            <div class="rej-content">
                <div class="row row-spacing">
                    <span class="rej-heading">QC STATION</span>
                </div>
                <div class="row row-spacing">
                    <span class="rej-text">CARTON - {{cartonScanned}}</span>
                </div>
                <div class="col-md-8 carton-details-tab" style="min-height: 145px;">
                    <span style="font-size: 20px;">Packed Details</span>
                    <ul class="nav nav-tabs nav-main" style="border-top: 1px solid #ddd;" role="tablist">
                        <span class="col-md-3 font-size: 16px;">Item</span>
                        <span class="col-md-5 font-size: 16px;">Description</span>
                        <span class="col-md-2 font-size: 16px;">Qty</span>
                        <span class="col-md-2 font-size: 16px;">Checked</span>
                    </ul>
                    <table class="table table-hover">
                        <tbody>
                            <tr ng-repeat="item in listOfScannedItems">
                                <td  style="padding: 5px 0px;">
                                    <span class="col-md-3">{{ item.itemCode }}</span>
                                    <span class="col-md-5">{{ item.itemDescription }}</span>
                                    <span class="col-md-2">{{ item.qty }}</span>
                                    <span class="col-md-2">{{ item.checked }}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-1"></div>
                <!--<div class="col-md-3 carton-details-tab" style="min-height: 145px;" ng-hide="!scanClassSerial">
                    <span>Scan Serialized item</span>
                    <br/>
                    <input type="text" class="input-box" id="serialScan" ng-keyup="$event.keyCode == 13 ? getSerialScannedItem(serialScannedItem) : null" ng-model="serialScannedItem" />
                </div>-->
                <div class="col-md-3 carton-details-tab" style="min-height: 145px;">
                    <div>
                        <span style="font-size: 20px;">Scan Barcode</span></br>
                        <label style="color:red">{{errorDisplay}}</label>
                        <br/>
                        <input type="text" class="input-box" id="barcodeScan" ng-keyup="$event.keyCode == 13 ? getScannedItem(scannedItem) : null" ng-model="scannedItem" />
                    </div>
                    <div ng-hide="!confirmQty">
                        <span style="font-size: 20px;">Enter quantity</span>
                        <br/>
                        <span style="font-size: 20px;">Attempt {{attemptNo}}</span>
                        <br/>
                        <input type="text" class="input-box" id="barcodeScanAttempt" ng-keyup="$event.keyCode == 13 ? getQtyItms(qtyItms) : null" ng-model="qtyItms" />
                    </div>
                </div>
                <div class="clearfix">
                    <div class="pull-left">
                        <button class="btn btn-primary" ng-click="resetCarton()">RESET</button>
                        <button class="btn btn-primary" disabled="{{disableOpt}}" ng-click="cartonComplete()">COMPLETE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        setFocus();
        function setFocus() {
            var barcodeScan = document.getElementById('barcodeScan')
            if (barcodeScan) {
                barcodeScan.focus()
            }
        }
    </script>
</div>

