<div class="wrapper" ng-hide="cartonWeighingMode || cartonScanningMode">
    <header class="header page-head">
        <span class="col-md-12 dash-font-main">QC REJECTED</span>
    </header>
    <div class="flex-container rej-container">
        <div class="flex-item center dash-item-border">
            <div class="rej-content">
                <div class="row row-spacing">
                    <span class="rej-heading">QC STATION {{ StationID }}</span>
                </div>
                <div class="row row-spacing">
                    <span class="rej-text">PLACE CARTON ON WEIGH SCALE</span>
                </div>
                <div class="row row-spacing">
                    <!--<input type="text" class="input-box" id="scanCarton" ng-keyup="$event.keyCode == 13 ? getCartonID(cartonID) : null" ng-model="cartonID" autofocus />-->
                </div>
                <div class="clearfix">
                    <div class="pull-left">
                        <button class="btn btn-primary" ng-click="resetCarton()">RE-WEIGH</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Carton weighing form -->
<div ng-include="cartonWeighingFormUrl"></div>

<!-- Carton scanning form -->
<div ng-include="cartonScanningFormUrl"></div>
