<div class="wrapper" ng-show="NotConfigured">
    <header class="header page-head">
        <div class="flex-item center dash-item-border">
        	<span class="col-md-12 dash-font-main">QC REJECT STATION</span>
        </div>
    </header>
    <div class="flex-container rej-container">
		<div class="flex-item center dash-item-border">
			<div class="rej-content">
				<div class="row row-spacing">
					<span class="rej-heading">MACHINE NOT CONFIGURED FOR QC STATION</span>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="wrapper" ng-show="NoContainerScanned">
    <header class="header page-head">
        <div class="flex-item center dash-item-border">
        	<span class="col-md-12 dash-font-main">QC REJECT STATION {{signedInStation}}</span>
        </div>
    </header>
    <div class="flex-container rej-container">
        <div class="flex-item center dash-item-border">
            <div class="rej-content">
                <div class="row row-spacing">
                    <span class="rej-heading">SCAN CARTON OR TRANSPORTER</span>
                </div>
                <div class="row row-spacing">
                    <input type="text" class="input-box" id="scanContainer" ng-keyup="$event.keyCode == 13 ? getMasterId(masterId) : null" ng-model="masterId" focus-me="NoContainerScanned" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper" ng-show="TrCartonWeighing">
    <header class="header page-head">
        <div class="flex-item center dash-item-border">
        	<span class="col-md-12 dash-font-main">QC REJECT STATION {{signedInStation}}</span>
        </div>
    </header>
    <div class="flex-container rej-container">
        <div class="flex-item center dash-item-border">
            <div class="rej-content">
                <div class="row row-spacing">
                    <span class="rej-heading">PROCESSING TRANSPORTER {{cartonScanned}}</span>
                </div>
                <div class="row row-spacing">
                    <span class="rej-text">PLACE PARCEL FROM TRANSPORTER ON SCALE AND SCAN THE ID</span>
                </div>
                <div class="row row-spacing" ng-show="TrCartonWeightSuccess">
                	<span class="rej-text carton-details-tab" style="color:green;">{{SuccessWeightMsg}}</span>
                </div>
                <div class="row row-spacing">
                    <input type="text" class="input-box" id="scanTrCarton" ng-keyup="$event.keyCode == 13 ? getTrCartonScan(TrCartonId) : null" ng-model="TrCartonId" focus-me="TrCartonWeighing" />
                </div>
                <div class="row row-spacing">
                	<button class="btn btn-primary" ng-click="resetCarton()">RESET</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper" ng-show="TrCartonAskForWeight">
    <header class="header page-head">
        <div class="flex-item center dash-item-border">
        	<span class="col-md-12 dash-font-main">QC REJECT STATION {{signedInStation}}</span>
        </div>
    </header>
    <div class="flex-container rej-container">
        <div class="flex-item center dash-item-border">
            <div class="rej-content">
                <div class="row row-spacing">
                    <span class="rej-heading">PROCESSING TRANSPORTER {{cartonScanned}} | PARCEL {{TrCurrentCarton}}</span>
                </div>
                <div class="row row-spacing">
                    <span class="rej-text">ENTER WEIGHT DISPLAYED ON WEIGHT SCALE</span>
                </div>
                <div class="row row-spacing">
                    <input type="text" class="input-box" id="scanTrCartonWeight" ng-keyup="$event.keyCode == 13 ? checkTrCartonWeight(TrCartonWeight) : null" ng-model="TrCartonWeight" focus-me="TrCartonAskForWeight" />
                </div>
                <div class="row row-spacing">
                	<button class="btn btn-primary" ng-click="resetCarton()">RESET</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper" ng-show="ContainerScanned">
	<header class="header page-head">
		<div class="flex-item center dash-item-border">
			<span class="col-md-12 dash-font-main">QC REJECT STATION {{signedInStation}}</span>
		</div>
	</header>
    <div class="flex-container rej-container">
        <div class="flex-item center dash-item-border">
            <div class="rej-content">
                <div class="row row-spacing"  ng-show="CartonChecking">
                    <span class="rej-text carton-details-tab">Single Carton Check: - {{cartonScanned}} | Order: - {{cartonOrder}}</span>
                </div>
                <div class="row row-spacing" ng-show="TrCartonChecking">
                    <span class="rej-text carton-details-tab">Transporter Check: - {{cartonScanned}} | Parcel: - {{TrCurrentCarton}} |  Order: - {{cartonOrder}}</span>
                </div>
                <div class="row row-spacing" ng-show="TrCartonWeightError">
                	<span class="rej-text carton-details-tab" style="color:red;">{{ErrorWeightMsg}}</span>
                </div>
                <div class="col-md-8 carton-details-tab" style="min-height: 145px;">
                    <span style="font-size: 20px;">Packed Details</span>
                    <ul class="nav nav-tabs nav-main" style="border-top: 1px solid #ddd;" role="tablist">
                        <span class="col-md-3 font-size: 16px;">Item</span>
                        <span class="col-md-5 font-size: 16px;">Description</span>
                        <span class="col-md-2 font-size: 16px;">Qty</span>
                        <span class="col-md-2 font-size: 16px;">Checked</span>
                    </ul>
                    <table class="table table-hover">
                        <tbody>
                            <tr ng-repeat="item in listOfScannedItems">
                                <td  style="padding: 5px 0px;">
                                    <span class="col-md-3">{{ item.ItemCode }}</span>
                                    <span class="col-md-5">{{ item.ItemDescription }}</span>
                                    <span class="col-md-2">{{ item.QtyPacked }}</span>
                                    <span class="col-md-2">{{ item.QtyVerified }}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3 carton-details-tab" style="min-height: 145px;" ng-hide="NoMoreToScan">
                    <div>
                        <span style="font-size: 20px;">Scan Barcode/Serial</span></br>
                        <label style="color:red">{{errorDisplay}}</label>
                        <br/>
                        <input type="text" class="input-box" id="barcodeScan" ng-keyup="$event.keyCode == 13 ? getScannedItem(scannedItem) : null" ng-model="scannedItem" focus-me="ContainerScanned" />
                    </div>
                </div>
                <div class="clearfix">
                    <div class="pull-left">
                        <button class="btn btn-primary" ng-click="resetCarton()" ng-hide="NoMoreToScan">RESET</button>
                        <button class="btn btn-primary" ng-click="setAsideCarton()" ng-hide="NoMoreToScan">SET ASIDE</button>
                        <button class="btn btn-primary" ng-click="cartonComplete()" ng-show="NoMoreToScan">COMPLETE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper" ng-show="TrAllChecked">
    <header class="header page-head">
        <div class="flex-item center dash-item-border">
        	<span class="col-md-12 dash-font-main">QC REJECT STATION {{signedInStation}}</span>
        </div>
    </header>
    <div class="flex-container rej-container">
        <div class="flex-item center dash-item-border">
            <div class="rej-content">
                <div class="row row-spacing" ng-show="TrCartonWeightSuccess">
                	<span class="rej-text carton-details-tab" style="color:green;">{{SuccessWeightMsg}}</span>
                </div>
                <div class="row row-spacing">
                    <span class="rej-heading">ALL CONTENTS OF TRANSPORTER {{cartonScanned}} SUCCESSFULLY CHECKED</span>
                </div>
                <div class="row row-spacing">
                    <span class="rej-text">CLICK COMPLETE AND PLACE TRANSPORTER BACK ON THE CONVEYOR</span>
                </div>
                <div class="row row-spacing">
                	<button class="btn btn-primary" ng-click="TrComplete()" >COMPLETE</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper" ng-show="TrAllCheckedButErrors">
    <header class="header page-head">
        <div class="flex-item center dash-item-border">
        	<span class="col-md-12 dash-font-main">QC REJECT STATION {{signedInStation}}</span>
        </div>
    </header>
    <div class="flex-container rej-container">
        <div class="flex-item center dash-item-border">
            <div class="rej-content">
                <div class="row row-spacing" ng-show="TrCartonWeightSuccess">
                	<span class="rej-text carton-details-tab" style="color:green;">{{SuccessWeightMsg}}</span>
                </div>
                <div class="row row-spacing">
                    <span class="rej-heading">TRANSPORTER {{cartonScanned}} CHECK COMPLETE. NOT ALL PARCELS VERIFIED SUCCESSFULLY</span>
                </div>
                <div class="row row-spacing">
                    <span class="rej-text">PLACE TRANSPORTER ASIDE FOR SUPERVISOR INSPECTION</span>
                </div>
                <div class="row row-spacing">
                	<button class="btn btn-primary" ng-click="TrComplete()" >SET TRANSPORTER ASIDE</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper" ng-show="TrCartonWaitForWeight">
    <header class="header page-head">
        <div class="flex-item center dash-item-border">
        	<span class="col-md-12 dash-font-main">QC REJECT STATION {{signedInStation}}</span>
        </div>
    </header>
    <div class="flex-container rej-container">
        <div class="flex-item center dash-item-border">
            <div class="rej-content">
                <div class="row row-spacing">
                    <span class="rej-heading">TRANSPORTER {{cartonScanned}}</span>
                </div>
                <div class="row row-spacing">
                    <span class="rej-text">READING WEIGHT FOR PARCEL {{TrCurrentCarton}}</span>
                </div>
                <div class="row row-spacing">
                	<button class="btn btn-primary" ng-click="resetCarton()">RESET</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper" ng-show="TrCartonCancelled">
    <header class="header page-head">
        <div class="flex-item center dash-item-border">
        	<span class="col-md-12 dash-font-main">QC REJECT STATION {{signedInStation}}</span>
        </div>
    </header>
    <div class="flex-container rej-container">
        <div class="flex-item center dash-item-border">
            <div class="rej-content">
                <div class="row row-spacing">
                    <span class="rej-text">PARCEL {{TrCurrentCarton}}</span>
                </div>
                <div class="row row-spacing">
                	<span class="rej-text carton-details-tab" style="color:red;">{{ErrorWeightMsg}}</span>
                </div>
                <div class="row row-spacing">
                    <span class="rej-text">PLEASE CALL SUPERVISOR</span>
                </div>
                <div class="row row-spacing">
                	<button class="btn btn-primary" ng-click="TrRemoveConfirm()" >CONFIRM REMOVE FROM TRANSPORTER</button>
                </div>
            </div>
        </div>
    </div>
</div>
