<div ng-init = "Rfresh()">
<div ng-show="unpickScan">

	<div class="row" align ="center">
    <div class="col-md-4"></div>
      
    <div class="col-md-4">
          <form name="form">
            <div class="panel panel-primary">
                <div class="panel-heading">Unpick Tote</div>
                      <div class="panel-body">
                              <h4>Scan Tote ID</h4>
                              <input type="text" id = "ToteID" ng-model="ToteID" required  ng-keyup="$event.keyCode == 13 ? SetPicklist(ToteID) : null" autofocus /> <br> <br>
                            <div>
                              <!--<input type="button" ng-click = "getMyToteID()" value="    Ok    "> -->  
                              <input type="button" ng-click = "GoBack()" value="Cancel">
                            </div>
                      </div>
              </div>
          </form>
        </div>

   <div class="col-md-4"></div>
</div>
</div> <!-- end of the first one -->

<div ng-show="unpickDisplay">
<div class="row" align ="center">
    <div class="col-md-4"></div>
        <div class="col-md-4">
              <div class="panel panel-primary">
                  <div class="panel-heading">Unpick Tote</div>
                    <div class="panel-body">
                        <table class="table" border="0">
                                <thead><td> <strong> {{Unpick}} </strong></td>
                                    <td> <strong>  {{pickListID}} </strong> </td>
                                    <td> <strong>  {{orderID}} </strong></td>
                                    <td> <strong>  {{currStatus}} </strong> </td> </thead>
                        <tbody>
                                  <tr ng-repeat="picklist in picklists">
                                    <td> <input type="checkbox" name = "picklists" value = "{{picklist.pickListID}}" ng-checked = "selection.indexOf(picklist.pickListID) > -1"  ng-click= "CheckSelection(picklist.pickListID)"> </td>
                                    <td>{{picklist.pickListID}} </td>
                                    <td>{{picklist.orderID}}</td>
                                    <td>{{picklist.Status}}</td>
                                  </tr>
                        </tbody>
                        </table> <br>
                    <div>
                    <input type="button" ng-click = "CancelPicklists()" value=" Cancel Picklist ">
                    <input type="button" ng-click = "Init1()" value="     Cancel     ">
              </div>
        </div>
   </div>
   <div class="col-md-4"></div>
  </div></div>
</div> <!-- end of the 2nd one -->

<div ng-show="unpickConfirm">
    <div class="row" align ="center">
             <div class="col-md-4"></div>
               <div class="col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Unpick Tote</div>
                          <div class="panel-body">
                            <h4><strong> Are you sure you want to cancel the selected Orders </strong></h4>
                            <input type="text" style="text-align:center;" ng-model="OrderID" required> <br> <br>
                            <input type="button" ng-click = "CancelLists()" value="    Ok    ">
                            <input type="button" ng-click = "Rfresh()" value="Cancel">
                          </div>
                    </div>
                </div>
               
         <div class="col-md-4"></div>
      </div>
    </div> <!-- end of the 3rd one -->

<div ng-show="unpickCancelled">
    <div class="row" align ="center">
             <div class="col-md-4"></div>
               <div class="col-md-4">
                   <div class="panel panel-primary">
                      <div class="panel-heading">Unpick Tote</div>
                          <div class="panel-body">
                              <table class="table" border="0">
                                  <thead><td> <strong> {{Unpick1}} </strong></td>
                                      <td> <strong>  {{pickListID1}} </strong> </td>
                                      <td> <strong>  {{orderID1}} </strong></td>
                                      <td> <strong>  {{currStatus1}} </strong> </td>
                                      <td> <strong>  {{user1}} </strong> </td>	 </thead>
                                  <tbody>
                                  <tr ng-repeat="picklist1 in picklists1"> <!-- MY Loop -->
                                          <td> <input type="checkbox" name = "picklists1" value = "{{picklist1.pickListID}}" ng-checked = "selection1.indexOf(picklist1.pickListID) > -1" >  </td>
                                          <td>{{picklist1.pickListID}} </td>
                                          <td>{{picklist1.orderID}}</td>
                                          <td>{{picklist1.WmsOrderStatus}}</td>
                                          <td> {{picklist1.CancelledBy}} </td>
                                  </tr>
                                  </tbody>
                            </table> <br>
                          <div>
              <input type="button"  ng-click = "Rfresh()" value="    Ok    ">
              <input type="button" ng-click = "GoBack()" value="  Cancel  ">
          </div>
        </div>
               
         <div class="col-md-4"></div>
      </div>
 </div> <!-- end of the 4th one -->
</div>