<md-dialog aria-label="Mango (Fruit)" style="width:800px">
    <form name="useForm" ng-cloak>
        <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Add New User</h2>
        </div>
        </md-toolbar>
    
        <md-dialog-content>
        <div class="md-dialog-content">
            <md-input-container class="md-block">
                <label>Name</label>
                <input type="text" name="txtName" ng-model="userData.name" required="">
                <div ng-messages="useForm.txtName.$error" role="alert" multiple="">
                    <div ng-message="required" class="my-message">Please type in the Username.</div>
                </div>
            </md-input-container>
    
            <md-input-container class="md-block">
                <label>Surname</label>
                <input type="text" name="txtSurname" ng-model="userData.surname" required="">
		<div ng-messages="useForm.txtSurname.$error" role="alert" multiple="">
                    <div ng-message="required" class="my-message">Please type in the Surname.</div>
                </div>
            </md-input-container>
    
            <md-input-container class="md-block">
                <label>Username</label>
                <input type="text" name="txtUsername" ng-model="userData.username" required="">
		<div ng-messages="useForm.txtUsername.$error" role="alert" multiple="">
                    <div ng-message="required" class="my-message">Please type in the Username</div>
                </div>
            </md-input-container>

	    <md-input-container class="md-block">
                <label>Password</label>
                <input type="password" name="txtPassword" ng-model="userData.password" required="">
                <div ng-messages="useForm.txtPassword.$error" role="alert" multiple="">
                    <div ng-message="required" class="my-message">Please type in the password.</div>
                </div>
            </md-input-container>
    
            <md-input-container class="md-block">
                <label>Role</label>
                <md-select name="type" ng-model="userData.selected" required>
                    <md-option value="Admin" ng-click="show('Admin')" ng-model="Admin">Admin</md-option>
                    <md-option value="Normal" ng-click="show('Normal')" ng-model="Normal">Normal User</md-option>
		    <md-option value="Supervisor" ng-click="show('Supervisor')" ng-model="Supervisor">Supervisor</md-option>
                </md-select>
            </md-input-container>
        </div>
        </md-dialog-content>
    
        <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="answer('Cancel')" class="md-raised md-primary">Cancel</md-button>
        <md-button ng-disabled="!useForm.$valid" ng-click="answer('addUser', userData)" class="md-raised md-primary">Ok</md-button>
        </md-dialog-actions>
    </form>
    </md-dialog>
