<div class="wrapper">
    <header class="header page-head">
        <span class="col-md-12 dash-font-main">PTL REJECT</span>
    </header>
    <div class="flex-container rej-container">
        <div class="flex-item center dash-item-border">
             <div class="rej-content">
                <div class="row row-spacing">
                    <span class="rej-heading">PTL REJECT STATION</span>
                </div>
                <div class="row row-spacing">
                    <span class="rej-text">SCAN TOTE</span>
                </div>
                <div class="row row-spacing">
                    <input type="text" class="input-box" id="scannedTote" ng-keyup="$event.keyCode == 13 ? getToteId(toteId) : null" ng-model="toteId" autofocus />
                </div>
                <div class="row row-spacing" ng-show="ContainerScanned">
                    <span class="rej-heading">TOTE {{cartonScanned}} SCANNED</span>
                </div>
                <div class="row row-spacing" ng-show="ContainerScanned">
                	<span class="rej-text carton-details-tab">{{ErrorMsg}}</span>
                </div>
                <div class="clearfix" ng-show="ContainerScanned">
                    <div class="pull-left">
                        <!--<button class="btn btn-primary" style="display:''" id="resetBtn" ng-click="resetTote()">RESET</button>-->
                        <button class="btn btn-primary" id="clearErrBtn" ng-click="clearErr()">CLEAR ERROR</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>